.rv-tag {
  background: $rv-color-dark;
  color: $rv-color-white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-block;
  transition: transform 100ms ease-in;
  transform: scale(1, 1);

  &:hover {
    transform: scale(1.025, 1.025);
    transition: transform 100ms ease-in;
  }

  @include tagFocus();
}
