{% load staticfiles %}

<div class="rv-content-card">
  <a href="{% url 'contribution:article_view' p.slug %}">
    <img class="rv-content-card_img" src="{{ a.image.url }}" alt="Image for article">
  </a>
  <div class="rv-content-card_content">
    <a href="{% url 'contribution:article_view' p.slug %}" class="rv-content-card_heading-link">
      <h4 class="rv-content-card_heading">{{ a.title }}</h4>
    </a>
    <a href="{% url 'contribution:article_view' p.slug %}">
      <span class="rv-content-card_link"></span>
    </a>
    <div class="rv-content-card_contributor-info">
  		<div class="rv-content-card_avatar">
          <div class="rv-avatar">
            <img src="{{ p.contributor.avatar_image_url }}">
          </div>
      </div>
      <div class="rv-content-card_contributor-name">
		    {{ p.contributor }}
      </div>
      <hr class="rv-content-card_contributor-rule" />
    </div>
    <div class="rv-content-card_preview">
      <p>{{ a.blurb | safe }}</p>
    </div>
  </div>
  <div class="rv-content-card_topics">
  	<small>Topics: </small>
  	<li>
  	{% for topic in a.article_topics.all %}
  			<a href="{% url 'contribution:topic_sort' topic.name %}"><small>{{ topic.name }}</small></a>
  	{% endfor %}
  	</li>
  </div>
</div>
