{% load avatar_tags %}
{% load icon_tags %}
{% load tag_tags %}

<div class="rv-article">
	{% if p.contributor == contrib_prof or superuser_override %}
	<form class='uk-float-right' action="{% url 'contribution:post_remove' p.pk %}" method="post">
		{% csrf_token %}
		<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:article_update' p.slug %}">
			Edit
		</a>
		<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
	</form>
	{% endif %}
	<div class="rv-article_image--header" style='background-image: url("{{a.image.url}}");'></div>
	<div class="rv-article_content">
		<div>
			<h1 class="rv-article_header">{{ a.title }}</h1>
		</div>
		<div class="rv-article_details">
			<div class="rv-article_author">
				<div class="rv-article_avatar">
					{% avatar 
						name=p.contributor
						src=p.contributor.avatar_image_url
					%}
				</div>
				<div class="rv-article_author--text">
					<div>
						{{ p.contributor.user_profile.user.first_name }} {{ p.contributor.user_profile.user.last_name }}
					</div>
					<div class="rv-article_author--degree">
						{% for academicprofile in post.contributor.academicprofile_set.all %}
							{% if forloop.last %}
								{{ academicprofile.degree }} at {{ academicprofile.institution }}
							{% endif %}
					  {% endfor %}
					</div>
				</div>
			</div>
			<div class="rv-article_like">
				<div class="rv-article_like--content">
					<div class="rv-article_like--number">{{ p.likes }}</div>
					<div class="rv-article_like--icon">
						{% icon_like size="medium" %}
					</div>
				</div>
			</div>
		</div>
		<div class="rv-article_image">
			<img src="{{ a.image.url }}" alt="{{a.title}}">
		</div>
		<div class="rv-article_text">
			{{ a.content | safe }}
		</div>
		<h6 class="rv-article_topics">Related Topics:</h6>
		<div class="rv-article_tag--container">	
			{% for topic in a.article_topics.all %}
				{% tag 
					href="#"
					title=topic.name
					margin="0 0.5rem 0.5rem 0"
				%}
			{% endfor %}
		</div>
	</div>
</div>
