<div class="rv-home-header">
  <div class="rv-home-header_container">
    <div class="rv-home-header_logo">
      {% include 'global-partials/relevate-logo-svg-partial.html' %}
    </div>
    <div class="rv-home-header_description">
      <h2 class="rv-h2 primary">Welcome to Relevate</h2>
      <p class="rv-home-header_description-text">
        We are a multidisciplinary team of researchers and practitioners who are on a mission to make research-based information about interpersonal relationships accessible to all. As part of this mission, we are creating a website and smart phone app that can be tailored to meet the needs of each user. We believe healthy relationships are worth working for. Do you?
      </p>
    </div>
    <div class="rv-home-header_button">
      <a class="rv-button" href="{% url 'profile:registration' %}">Get Started</a>
    </div>
  </div>
</div>