{% load staticfiles %}
{% load tag_tags %}

<div>
	<div>
		{% if p.contributor == contrib_prof or superuser_override %}
		<form class='uk-float-right' action="{% url 'contribution:post_remove' p.pk %}" method="post">
			{% csrf_token %}
			<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:infographic_update_view' p.slug %}">
				Edit
			</a>
			<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
		</form>
		{% endif %}
	</div>
	<div class="rv-infographic_image--container">
		<img class="rv-infographic_image" src="{{ i.image.url }}">
	</div>
	<div class="rv-infographic_content">
		{{ i.blurb | safe }}
	</div>
	<h6 class="rv-article_topics rv-infographic_topics">Related Topics:</h6>
	<div class="rv-article_tag--container rv-infographic_tag--container">	
		{% for topic in i.topics.all %}
			{% tag
				title=topic.name
				margin="0 0.5rem 0.5rem 0"
				href="#"
			%}
		{% endfor %}
	</div>
</div>
