{% load staticfiles %}
{% load avatar_tags %}
 <!--<script>-->
 <!--var colors = ['red', 'green', 'blue', 'orange', 'yellow'];-->
 <!--$('.item').css('background-color', colors[Math.floor(Math.random() * colors.length)]);</script>-->
<div class="rv-content-card">
	<a href="{{ l.url }}">
    <img class="rv-content-card_img" src="{{ l.image.url }}">
  </a>
  <div class="rv-content-card_content">
    <a target="_blank" href="{{ l.url }}" class="rv-content-card_heading-link">
      <h4 class="rv-content-card_heading">
    		{{ l.title }}
    	</h4>
    </a>
    <a class='uk-text-primary' target="_blank" href="{{ l.url }}">
      <span class="rv-content-card_link"></span>
    </a>
    <div class="rv-content-card_contributor-info">
      <div class="rv-content-card_avatar">
        {% avatar 
          src=p.contributor.avatar_image_url
          name=p.contributor
        %}
      </div>
      <div class="rv-content-card_contributor-name">
  	   {{ p.contributor }}
      </div>
      <hr class="rv-content-card_contributor-rule" />
    </div>
    <div class="rv-content-card_preview">
        <p>{{ l.description | safe }}<a target="_blank" href="{{ l.url }}" class="rv-content-card_heading-link">Read More...</a></p>
    </div>
  </div>
  <div class="rv-content-card_topics">
	<small>Topics: </small>
  	<div>
      <li>
  			{% for topic in l.topics.all %}
  				<a href="{% url 'contribution:topic_sort' topic.name %}"><small>{{ topic.name }}</small></a>
  				<div class="uk-dropdown uk-dropdown-small">
  					<span>{{ topic.description }}</span>
  				</div>
  			{% endfor %}
      </li>
    </div>
  </div>
</div>
