{% extends "styleguide_layout.html" %}
{% load example_tags %}

{% block content%}
  {% example with
    heading="Requirements"
    caption="Include the following in your HTML head (This imports the styles)"
    codeOnly="True"
  %}
{% load component_assets %}
{% button_assets %}
  {% end_example %}

  {% example with 
    heading="Default" 
    caption="For main actions"  
  %}
<button class='rv-button'>Default button</button>
  {% end_example %}

  {% example with 
    heading="Secondary" 
    caption="Use the secondary button in conjunction with the default button when there are multiple actions, such as a confirmation" 
  %}
<button class='rv-button'>Confirm</button>
<button class='rv-button-secondary'>Cancel</button>
  {% end_example %}
{% endblock content %}