{% extends "styleguide_layout.html" %}
{% load example_tags %}
{% load icon_tags %}

{% block content%}
  {% example with
    heading="Requirements"
    caption="Within your template file, load the custom icon tags"
    codeOnly="True"
  %}
{% load icon_tags %}
  {% end_example %}

  {% example with 
    heading="Example" 
    caption="Icons have a set height 1rem by default. The rotate property can be used to change directions." 
  %}
{% icon variant="arrow" title="arrow" %}
{% icon variant="edit" title="edit" %}
{% icon variant="x" title="x" %}
{% icon variant="add" title="add" %}
  {% end_example %}
{% endblock content %}