{% load staticfiles %}
{% load avatar_tags %}
{% load icon_tags %}
{% load tag_tags %}

<div class="rv-contributor-profile_content">
	<div>
		<div class="rv-contributor-profile_banner">
			<div class="rv-contributor-profile_avatar--container">
				<div class="rv-contributor-profile_avatar">
					{% avatar
						src=contributor_prof.avatar_image_url
						name=contributor_prof
					%}
				</div>
			</div>
			<div class="rv-contributor-profile_title">
				{% if highest_ranking_degree %}
					<h1 class="rv-contributor-profile_header">{{ contributor_prof.user_profile.user.first_name }}
						{{ contributor_prof.user_profile.user.last_name }}, {{ highest_ranking_degree.degree.abbreviation }}
					</h1>
				{% else %}
					<h1 class="rv-contributor-profile_header">{{ contributor_prof.user_profile.user.first_name }}
						{{ contributor_prof.user_profile.user.last_name }}
					</h1>
				{% endif %}
				
				{% if contributor_prof.user_profile.is_contributor %}
					<span class="rv-contributor-profile_approved">
						{% icon_circle_check %}
						<h3 class="rv-contributor-profile_approved--subhead">Approved Relevate Contributor</h3>
					</span>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="rv-contributor-profile_detail--container">
		<div class="rv-contributor-profile_detail">
			<h4>Professional Address</h4>
			{{ contributor_prof.address.street_address }}<br>
			{{ contributor_prof.address.city }}, {{ contributor_prof.address.state }} {{ contributor_prof.address.zipcode }}
			<br>
			{{ contributor_prof.address.country }}
			<br>
		</div>
		<div class="rv-contributor-profile_detail">
			<h4>Degrees</h4>
			<ul class="rv-contributor-profile_list">
				{% for each_qual in academic_prof %}
					<li>
						{{ each_qual.program }},
						{{ each_qual.institution }},
						{{ each_qual.degree.name }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="rv-contributor-profile_detail">
			<h4>Certifications</h4>
			{% if certifications %}
			<ul class="rv-contributor-profile_list">
				{% for each_qual in certifications %}
					<li>
						{{ each_qual.name_of_certification }}
					</li>
				{% endfor %}
			</ul>
			{% else %}
				<p class="rv-contributor-profile_empty"> No certification listed.</p>
			{% endif %}
		</div>
		<div class="rv-contributor-profile_detail">
			<h4>Organizational Affiliations</h4>
			{% if organizational_affiliations%}
			<ul class="rv-contributor-profile_list">
				{% for each_affil in organizational_affiliations %}
					<li>
						{{ each_affil.name_of_affiliation }}
					</li>
				{% endfor %}
			</ul>
			{% else %}
				<p class="rv-contributor-profile_empty"> No affiliations listed.</p>
			{% endif %}
			</div>
		</div>

	<div class="rv-contributor-profile_section">
		<h4>Expertise Topics</h4>
		<div class="rv-contributor-profile_tags">
			{% for topic in contributor_prof.expertise_topics.all %}
				{% tag title=topic.name %}
			{% endfor %}
		</div>
	</div>
	<div class="rv-contributor-profile_section">
		<h4>Professional Interests, Experience, and Expertise</h4>
		<div class="uk-panel-scrollable uk-height-small uk-height-max-small">
			{{ contributor_prof.biography_text | safe }}
		</div>
	</div>
	{% if contributor_prof.website_url %}
		<div class="rv-contributor-profile_section">
			<h4>Contributor Website</h4>
			<a target='_blank' href="{{ contributor_prof.website_url }}">{{ contributor_prof.website_url }}</a>
		</div>
	{% endif %}
	<div class="rv-contributor-profile_cv">
		<h4>CV/Resume</h4>
		{% if contributor_prof.cv == "" %}
			<object data="{% static "empty-cv/empty-cv.pdf" %}" type="application/pdf"
					width="100%" height="1000"></object>
		{% elif contributor_prof.cv != "" %}
			<object data="{{ contributor_prof.cv.url }}" type="application/pdf"
					width="1100" height="1000"></object>
		{% endif %}
	</div>
</div>