{% load button_tags %}
{% load checkbox_tags %}
{% load file_input_tags %}
{% load icon_tags %}
{% load progress_tags %}
{% load select_tags %}
{% load text_area_tags %}
{% load text_input_tags %}

<div id="Degree and Affiliation" class="tabcontentContrib" style="display:block">
    <div class="rv-contributor-form_progress">
        {% progress %}
            {% progress_item status="active" %}Degree and Affiliation{% end_progress_item %}
            {% progress_item %}Professional Info{% end_progress_item %}
        {% progress_item %}Topics{% end_progress_item %}
        {% end_progress %}
    </div>
    <div class="rv-contributor-form_box">
        <h4 class="rv-contributor-form_subheader">Degrees</h4>
            <input id="hiddenAcaTable" hidden name="hiddenAcaTable">
            <table id="acaProf" data-name="acaProfTable" class="rv-contributor-form_table">
                <tbody>
                    {% for each_academic in academic_profiles %}
                        <tr class="rv-contributor-form_box-row acaRow" id="acaProf{{ each_academic.id }}">
                            <td class="rv-contributor-form_table--item">
                                <div class='rv-contributor-form_table--item-label'>Program</div>
                                <div class='rv-contributor-form_table--item-content program'>{{ each_academic.program }}</div>
                            </td>
                            <td class="rv-contributor-form_table--item">
                                <div class='rv-contributor-form_table--item-label'>Level of Study</div>
                                <div class='rv-contributor-form_table--item-content degree'>{{ each_academic.degree.name }}</div>
                            </td>
                            <td class="rv-contributor-form_table--item">
                                <div class='rv-contributor-form_table--item-label'>Institution</div>
                                <div class='rv-contributor-form_table--item-content institute'>{{ each_academic.institution }}</div>
                            </td>
                            <td class="rv-contributor-form_button--container">
                                <div class="rv-contributor-form_button--group">
                                    {% with each_academic.id|stringformat:"i" as academic_id %}
                                        {% with "editAcademicProfile("|add:academic_id|add:")" as editAcademicProfile  %}
                                        {% with "deleteAcademicProfile("|add:academic_id|add:")" as deleteAcademicProfile %}
                                            <div class="rv-contributor-form_button--group-button">
                                                {% button
                                                    type="button"
                                                    variant="ghost"
                                                    color="dark"
                                                    onclick=editAcademicProfile
                                                %}
                                                    {% icon_edit %}
                                                    Edit
                                                {% end_button %}
                                            </div>
                                            <div class="rv-contributor-form_button--group-button">
                                                {% button
                                                    type="button"
                                                    variant="ghost"
                                                    color="dark"
                                                    onclick=deleteAcademicProfile
                                                %}
                                                    {% icon_x %}
                                                    Delete
                                                {% end_button %}
                                            </div>
                                        {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="rv-contributor-form_box-row" id="acaProfCreate">
                <div class="rv-contributor-form_table--item">
                    {% text_input
                        label=form.program.label
                        input=form.program
                    %}
                </div>
                <div class="rv-contributor-form_table--item">
                    {{form.degree}}
                </div>
                <div class="rv-contributor-form_table--item">
                    {% text_input
                        label=form.institution.label
                        input=form.institution
                    %}
                    <!-- @US_TODO: Fix this so it works with new framework -->
                    <!-- I'm temp disabling this. The async is taking too long, and the box
                             appears but just hangs there. We can integrate these options with the
                             existing select component, we'll just need to enable asynchronus loading
                             for the options. That should be when we revisit this for Contributor page
                             2.0. Until then, we should leave it out as the ui kit version is inconsistent
                             with the other UI in the contrib application, and will be poor UX -->
                {#	<div id="list_of_uni" style="width: 500px;" class="uk-dropdown uk-dropdown-search uk-panel-scrollable">
                        <ul class="uk-nav uk-nav-search" id="items_to_search">
                        </ul>
                    </div> #}
                </div>
                <div class="rv-contributor-form_button--container">
                    {% button
                      variant="ghost"
                      color="primary"
                      id="degree-add-btn"
                      type="button"
                      onclick="addAcademicProfile()"
                      fluid_width="True"
                    %}
                      {% icon_add %}
                      Add Degree
                    {% end_button %}
                </div>
            </div>
        <div class="rv-contributor-form_box">
            <h4 class="rv-contributor-form_subheader">Additional Certifications</h4>
            <input id="hiddenCertTable" hidden name="certificateList" >
            <table id="addCert" data-name="certTable" class="rv-contributor-form_table">
                <tbody>
                    {% for each_cert in certifications %}
                        <tr class="rv-contributor-form_box-row certRow" id="addCert{{ each_cert.id }}">
                            <td class="rv-contributor-form_table--item">
                                <div class='rv-contributor-form_table--item-label'>Certification</div>
                                <span class='rv-contributor-form_table--item-content certName'>{{ each_cert.name_of_certification }}</span>
                            </td>
                            <td class="rv-contributor-form_button--container">
                                <div class="rv-contributor-form_button--group">
                                    {% with each_cert.id|stringformat:"i" as cert_id %}
                                        {% with "editCertification("|add:cert_id|add:")" as editCertification %}
                                        {% with "deleteCertification("|add:cert_id|add:")" as deleteCertification %}
                                            <div class="rv-contributor-form_button--group-button">
                                                {% button
                                                    type="button"
                                                    variant="ghost"
                                                    color="dark"
                                                    onclick=editCertification
                                                %}
                                                    {% icon_edit %}
                                                    Edit
                                                {% end_button %}
                                            </div>
                                            <div class="rv-contributor-form_button--group-button">
                                                {% button
                                                    type="button"
                                                    variant="ghost"
                                                    color="dark"
                                                    onclick=deleteCertification
                                                %}
                                                    {% icon_x %}
                                                    Delete
                                                {% end_button %}
                                            </div>
                                        {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="rv-contributor-form_box-row" id="certificationCreate">
                <div class="rv-contributor-form_table--item">
                    {% text_input
                        label=form.certification.label
                        input=form.certification
                    %}
                </div>
                <div class="rv-contributor-form_button--container">
                    {% button
                      variant="ghost"
                      color="primary"
                      type="button"
                      onclick="addCertificate()"
                      fluid_width="True"
                    %}
                      {% icon_add %}
                      Add Certificate
                    {% end_button %}
                </div>
            </div>
        </div>
        <div class="rv-contributor-form_box">
            <h4 class="rv-contributor-form_subheader">Organizational Affiliations</h4>
            <input id="hiddenAffilTable" hidden name="affiliationList">
            <table id="addAffiliation" data-name="affiliationTable" class="rv-contributor-form_table">
                <tbody>
                    {% for each_org in organizational_affiliations %}
                        <tr class="rv-contributor-form_box-row affiliationRow" id="addAffiliation{{ each_org.id }}">
                            <td class="rv-contributor-form_table--item">
                                <div>
                                    <div class='rv-contributor-form_table--item-label'>Affiliation</div>
                                    <div class='rv-contributor-form_table--item-content affilName'>{{ each_org.name_of_affiliation }}</div>
                                </div>
                            </td>
                            <td class="rv-contributor-form_button--container">
                                    {% with each_org.id|stringformat:"i" as org_id %}
                                    {% with "editAffiliation("|add:org_id|add:")" as editAffiliation %}
                                    {% with "deleteAffiliation("|add:org_id|add:")" as deleteAffiliation %}
                                        <div class="rv-contributor-form_button--group-button">
                                            {% button
                                                type="button"
                                                variant="ghost"
                                                color="dark"
                                                onclick=editAffiliation
                                            %}
                                                {% icon_edit %}
                                                Edit
                                            {% end_button %}
                                        </div>
                                        <div class="rv-contributor-form_button--group-button">
                                            {% button
                                                type="button"
                                                variant="ghost"
                                                color="dark"
                                                onclick=deleteAffiliation
                                            %}
                                                {% icon_x %}
                                                Delete
                                            {% end_button %}
                                        </div>
                                    {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="rv-contributor-form_box-row" id="affiliationCreate">
                <div class="rv-contributor-form_table--item">
                    {{form.organizational_affiliation}}
                </div>
                <div class="rv-contributor-form_button--container">
                    {% button
                      variant="ghost"
                      color="primary"
                      type="button"
                      onclick="addAffiliation()"
                      fluid_width="True"
                    %}
                      {% icon_add %}
                      Add Affiliation
                    {% end_button %}
                </div>
            </div>
        </div>
    </div>
</div>