@import "./lato/lato";
@import "variables";

html {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: $rv-color-white;
  color: $rv-color-primary;
}