/**
----------------
  Colors
----------------
**/
$rv-color-primary: #246FF2;
$rv-color-success: #318500;
$rv-color-white: #ffffff;
$rv-color-neutral: #737373;
$rv-color-light-gray: #D6D6D6;
$rv-color-dark: #3A3A3A;
$rv-color-black: #000000;

/**
----------------
  Typography
----------------
**/
$rv-font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
$rv-font-color: $rv-color-dark;
$rv-font-weight-black: 900;
$rv-font-weight-heavy: 800;
$rv-font-weight-bold: 700;
$rv-font-weight-semibold: 600;
$rv-font-weight-medium: 500;
$rv-font-weight-regular: 400;
$rv-font-weight-light: 300;

/**
----------------
  Navbar
----------------
**/

$rv-navbar-height: 5rem;

/**
----------------
  Shadows
----------------
**/
$rv-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
$rv-card-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
$rv-card-box-shadow-hover: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.3);

/**
----------------
  Cards
----------------
**/

$rv-card-width: 18rem;
$rv-card-margin: 3rem;

/**
----------------
  Breakpoints
----------------
**/

$rv-breakpoint-phone: 480px;
$rv-breakpoint-tablet: 736px;
$rv-breakpoint-desktop: 980px;
