{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
	<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/adviser-verification.js' %}"></script>
	
{% endblock %}

{% block content %}

<div class="uk-container uk-margin-top">
	<h1>Mentor Application</h1>
	<br>
	<span>
		MyRelevate mentors provide guidance and feedback to contributors who have not yet attained a graduate
		degree on the quality of the content they create for MyRelevate. Mentors are responsible for ensuring the
		research-based relationship content posted by their advisees is accurate, timely, professional, and
		appropriately referenced. Mentors must approve the content their advisees create before it can be posted.
		MyRelevate advisors may specify how many, whom, and for how long they advise.
	</span>
	<br><br>

	<form class="uk-form uk-form-stacked" method="post" action="{% url 'profile:adviser_create' %}">
		{% csrf_token %}
		<div class="uk-form-row">
			<h3 class="uk-form-label uk-text-bold">{{ form.number_of_advisees.label }}</h3>
			<p>How many mentees would you be willing to take on?</p>
			<div class="uk-form-controls">
				{{ form.number_of_advisees }}
			</div>
		</div>
		<br>
		<div class="uk-form-row">
			<h3 class="uk-form-label uk-text-bold">{{ form.reason.label }}</h3>
			<p>Briefly explain why you want to be a mentor.</p>
			<div class="uk-form-controls">
				{{ form.reason }}
			</div>
		</div>
		<br>
		<div class="uk-form-row">
			<h3 class="uk-form-label uk-text-bold">{{ form.accept_terms.label }}</h3>
			<div class="uk-panel-scrollable">
				<span>
					<p>
						Relevate reserves the right to remove any information that it believes to be contrary to its purpose or inappropriate in nature. Examples of material subject to removal include but are not limited to any material that is inflammatory, illegal, commercial in nature, off topic, discriminatory, dangerous, plagiarized material, contains personally identifiable information, and any other material Relevate decides to remove. Relevate reserves the right to remove any contributor or community member and any material added from any contributor or community member from its database including but not limited to screen name, comments, contributions, ratings, and any other material. 
					</p>
					<p>
						It is the role of the mentor to ensure that contributors under their advisement recognize all of the above terms and conditions. Additionally, mentors are expected to monitor their mentees contributions such that each uphold the responsibilities of contributor status outlined by Relevate.
					</p>
				</span>
			</div>
			<br>
			<div class="uk-form-controls">
				I accept the terms and conditions: {{ form.accept_terms }}
			</div>
		</div>
		<br>
		<button id='submit_btn' class="uk-button uk-button-primary" type="button">Apply</button>
	</form>
</div>
<br>

{% endblock %}


{% block footer %}
	{{ block.super }}
	<script>
		// Replace the <textarea id="editor1"> with a CKEditor
		// instance, using default configuration.
		CKEDITOR.replace( 'id_reason',
				{
					customConfig: '{% static 'js/ckeditor_basic_config.js' %}'
				});
	</script>
{% endblock %}