{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% load button_tags %}
{% load tab_list_tags %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-update.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor-update.js' %}"></script>
{% endblock head %}

{% block content %}

<div class="uk-container uk-margin-top uk-clearfix">
	<form id="contrib-update-form" action="{% url 'profile:contributor_update' %}" method="post" enctype='multipart/form-data'>
	{% csrf_token %}
	{% button
	  id="update-btn"
	  type="button"
	  variant="solid"
	%}
	  Update Profile
	{% end_button %}
	{% tab_list %}
	  {% tab_panel title="Contributor Profile" %}
		{% include 'partials/contributor_info_display.html' %}
	  {% end_tab_panel %}
	  {% tab_panel title="User Profile" %}
		<div class="uk-container uk-margin-top">
			<div>
				<label class="uk-text-bold">First Name:</label>
				{{ user.first_name }}
			</div>
			<br>
			<div>
				<label class="uk-text-bold">Last Name:</label>
				{{ user.last_name }}
			</div>
			<br>
			<div>
				<label class="uk-text-bold">Email:</label>
				{{ user.email }}
			</div>
			<br>
			<ul uk-accordion>
				<li>
					<h3 class='uk-accordion-title'>
						Topics of Interest
					</h3>
					<div class='uk-accordion-content'>
						<div class="rv-contributor-form_box">
							{{ user_prof.topics_preferences }}
						</div>
					</div>
				</li>
			</ul>
		</div>
	  {% end_tab_panel %}
	{% end_tab_list %}
</div>

<script>

	$("#update-btn").click(function()
	{
		location.href = "{% url 'profile:contributor_update' %}"
	})

</script>

{% endblock %}





