{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% load button_tags %}
{% load checkbox_tags %}
{% load icon_tags %}
{% load progress_tags %}
{% load select_tags %}
{% load text_input_tags %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create2.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-create-verification.js' %}"></script>
{% endblock head %}

{% block content %}
<div id="contributorApplication" class="rv-contributor-form">
	<form id='contributor-create-form' action="{% url 'profile:contributor_create' %}" method="post" enctype='multipart/form-data'>
		{% csrf_token %}
		<h1 class="rv-h3 rv-contributor-form_header">Contributor Application</h1>
		<div class="tab">
			<div class="rv-contributor-form_progress">
				{% progress %}
					{% progress_item status="active" %}Degree and Affiliation{% end_progress_item %}
					{% progress_item %}Professional Info{% end_progress_item %}
	  			{% progress_item %}Topics{% end_progress_item %}
	  			{% progress_item %}Terms and Conditions{% end_progress_item %}
				{% end_progress %}
			</div>
			<div class="rv-contributor-form_box">
				<h4 class="rv-contributor-form_subheader">Degrees</h4>
				<input id="hiddenAcaTable" hidden name="academicList">
					<table id="acaProf" data-name="acaProfTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_academic in academic_profiles %}
								<tr class="rv-contributor-form_box-row" id="acaProf{{ each_academic.id }}">
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Program</div>
										<div class='rv-contributor-form_table--item-content'>{{ each_academic.program }}</div>
									</td>
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Level of Study</div>
										<div class='rv-contributor-form_table--item-content'>{{ each_academic.degree.name }}</div>
									</td>
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Institution</div>
										<div class='rv-contributor-form_table--item-content'>{{ each_academic.institution }}</div>
									</td>
									<td class="rv-contributor-form_button--container">
										<div class="rv-contributor-form_button--group">
											{% with each_academic.id|stringformat:"i" as academic_id %}
												{% with "editAcademicProfile("|add:academic_id|add:")" as editAcademicProfile  %}
												{% with "deleteAcademicProfile("|add:academic_id|add:")" as deleteAcademicProfile %}
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=editAcademicProfile
														%}
															{% icon_edit %}
															Edit
														{% end_button %}
													</div>
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=deleteAcademicProfile
														%}
															{% icon_x %}
															Delete
														{% end_button %}
													</div>
												{% endwith %}
												{% endwith %}
											{% endwith %}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="acaProfCreate">
						<div class="rv-contributor-form_table--item">
							{% text_input
								label=form.program.label
								input=form.program
							%}
						</div>
						<div class="rv-contributor-form_table--item">
							{{form.degree}}
						</div>
						<div class="rv-contributor-form_table--item">
							{% text_input
								label=form.institution.label
								input=form.institution
							%}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  id="degree-add-btn"
							  type="button"
							  onclick="addAcademicProfile()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Degree
							{% end_button %}
						</div>
					</div>
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Additional Certifications</h4>
					<input id="hiddenCertTable" hidden name="certificateList" >
					<table id="addCert" data-name="certTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_cert in certifications %}
								<tr class="rv-contributor-form_box-row" id="addCert{{ each_cert.id }}">
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Certification</div>
										<div class='rv-contributor-form_table--item-content'>{{ each_cert.name_of_certification }}</div>
									</td>
									<td class="rv-contributor-form_button--container">
										<div class="rv-contributor-form_button--group">
											{% with each_cert.id|stringformat:"i" as cert_id %}
												{% with "editCertification("|add:cert_id|add:")" as editCertification %}
												{% with "deleteCertification("|add:cert_id|add:")" as deleteCertification %}
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=editCertification
														%}
															{% icon_edit %}
															Edit
														{% end_button %}
													</div>
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=deleteCertification
														%}
															{% icon_x %}
															Delete
														{% end_button %}
													</div>
												{% endwith %}
												{% endwith %}
											{% endwith %}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="certificationCreate">
						<div class="rv-contributor-form_table--item">
							{% text_input 
								label=form.certification.label
								input=form.certification
							%}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  type="button"
							  onclick="addCertificate()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Certificate
							{% end_button %}
						</div>
					</div>
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Organizational Affiliations</h4>
					<input id="hiddenAffilTable" hidden name="affiliationList">
					<table id="addAffiliation" data-name="affiliationTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_org in organizational_affiliations %}
								<tr class="rv-contributor-form_box-row" id="addAffiliation{{ each_org.id }}">
									<td class="rv-contributor-form_table--item">
										<div>
											<div class='rv-contributor-form_table--item-label'>Affiliation</div>
											<div class='rv-contributor-form_table--item-content'>{{ each_org.name_of_affiliation }}</div>
										</div>
									</td>
									<td class="rv-contributor-form_button--container">
										{% with each_org.id|stringformat:"i" as org_id %}
											{% with "editAffiliation("|add:org_id|add:")" as editAffiliation %}
											{% with "deleteAffiliation("|add:org_id|add:")" as deleteAffiliation %}
												<div class="rv-contributor-form_button--group-button">
													{% button
														type="button"
														variant="ghost"
														color="dark"
														onclick=editAffiliation
													%}
														{% icon_edit %}
														Edit
													{% end_button %}
												</div>
												<div class="rv-contributor-form_button--group-button">
													{% button
														type="button"
														variant="ghost"
														color="dark"
														onclick=deleteAffiliation
													%}
														{% icon_x %}
														Delete
													{% end_button %}
												</div>
											{% endwith %}
											{% endwith %}
										{% endwith %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="affiliationCreate">
						<div class="rv-contributor-form_table--item">
							{{form.organizational_affiliation}}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  type="button"
							  onclick="addAffiliation()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Affiliation
							{% end_button %}
						</div>
					</div>
				</div>
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="active" %}Topics{% end_progress_item %}
		  			{% progress_item %}Professional Info{% end_progress_item %}
		  			{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Expertise Topics</h4>
					<p class="rv-contributor-form_subheader--caption">
						Select as many topics as you feel qualified to write about.
					</p>
					{% for choice in form.area_of_expertise %}
						<div class="rv-contributor-form_checkbox">
							{% checkbox 
								form=choice
							%}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class='tab'>
				<h3>
					Professional Information
					<span class='incomplete-span' id='professional-info-incomplete'>
						<small><span><i>Incomplete</i></span></small>
					</span>
					<span class='done-span' id='professional-info-done' style='display: none;'>
						<small><span><i>Done!</i></span></small><span uk-icon="icon: check;"></span>
					</span>
				</h3>
				<div>
					<div class='uk-card uk-card-default uk-box-shadow-large'>
						<div class='uk-card-body'>
							<!-- <h3 class="blue" >Professional Information<span class="orange">*</span></h3> -->
							<div class='uk-grid'>
								<div class='uk-width-1-2'>
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.address.label }}<span class="orange">*</span></label>
										<div class="uk-form-controls">
											{{ form.address }}
										</div>
									</div>
									<br>
								</div>
								<div class='uk-width-1-2'>
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.city.label }}<span class="orange">*</span></label>
										<div class="uk-form-controls">
											{{ form.city }}
										</div>
									</div>
									<br>
								</div>
								<div class='uk-width-1-2'>
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.state.label }}<span class="orange">*</span></label>
										<div class="uk-form-controls">
											{{ form.state }}
										</div>
									</div>
									<br>
								</div>
								<div class='uk-width-1-2'>
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.country.label }}<span class="orange">*</span></label>
										<div class="uk-form-controls">
											{{ form.country }}
										</div>
									</div>
									<br>
								</div>
								<div class='uk-width-1-2'>
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.zipcode.label }}<span class="orange">*</span></label>
										<div class="uk-form-controls">
											{{ form.zipcode }}
										</div>
									</div>
									<br>
								</div>
							</div>
							<div class="uk-form-row">
								<label class="uk-form-label uk-text-bold">{{ form.website_url.label }}</label>
								<div class="uk-form-controls">
									{{ form.website_url }}
								</div>
							</div>
							<br>
							<div class='uk-grid'>
								<div class='uk-width-1-2'>
									<!-- <h3 class="blue" >Upload your cv/resume</h3> -->
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.cv.label }}</label>
										<div class="uk-form-controls">
											{{ form.cv }}
										</div>
									</div>
								</div>
								<div class='uk-width-1-2'>
									<!-- <h3 class="blue">Profile Picture</h3> -->
									<div class="uk-form-row">
										<label class="uk-form-label uk-text-bold">{{ form.avatar.label }}</label>
										<div class="uk-form-controls">
											{{ form.avatar }}
										<div class="uk-hidden">
											{{ form.x }}
											{{ form.y }}
											{{ form.height }}
											{{ form.width }}
										</div>
										  <!-- MODAL TO CROP THE IMAGE -->
										  <div class="modal fade" id="modalCrop">
											<div class="modal-dialog">
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												  <h4 class="modal-title">Crop the photo</h4>
												</div>
												<div class="modal-body">
												  <img src="" id="image" style="max-width: 100%;">
												</div>
												<div class="modal-footer">
												  <div class="btn-group pull-left" role="group">
													<button type="button" class="btn btn-default js-zoom-in">
													  <span class="glyphicon glyphicon-zoom-in"></span>
													</button>
													<button type="button" class="btn btn-default js-zoom-out">
													  <span class="glyphicon glyphicon-zoom-out"></span>
													</button>
												  </div>
												  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
												  <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
												</div>
											  </div>
											</div>
										  </div>
										  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
										  <div class="row uk-hidden" style="margin-top: 20px">
											  <div class="col-sm-4 col-md-3" id="cropped_thumbnail">
												<img src="{{ form.avatar.url }}" class="thumbnail">
											  </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<!-- <h3 class="blue" >Professional Interests, Experience, and Expertise<span class="orange">*</span></h3> -->
							<br><br>
							<div class="uk-form-row">
								<label class='uk-form-label uk-text-bold'>
									{{ form.biography.label }} <span class="orange">*</span>
								</label>
								<div>
									Please provide a brief background about who you are! What are your special interests?
									Why do you want to be a contributor for Relevate? Are there any other things you want
									readers to know about you? If approved, this biography will go on your contributor
									profile page, so be sure to write it thought you are speaking directly to the users
									of Relevate who may explore and view your profile. This means avoiding jargon and
									acronyms, and writing at a lower reading level.
								</div>
								<br>
								<div class="uk-form-controls">
									{{ form.biography }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='tab'>
				<h3>
					Terms And Conditions
					<span class='incomplete-span' id='terms-incomplete'>
						<small><span><i>Incomplete</i></span></small>
					</span>
					<span class='done-span' style='display:none;' id='terms-done'>
						<small><span><i>Done!</i></span></small><span uk-icon="icon: check;"></span>
					</span>
				</h3>
				<div>
					<div class='uk-card uk-card-default uk-box-shadow-large'>
						<div class='uk-card-body'>
							<!-- <h3 class="blue" >Terms and Conditions<span class="orange">*</span></h3> -->
							<div class="uk-panel-scrollable" style='background-color: white;'>
								<span>
									Any information on any topic given by Relevate, its members, its contributors,
									and/or its community members should not be considered to be advice, diagnosis,
									and/or any treatment appropriate for its readers. Appropriate advice, diagnosis,
									and/or treatment can only be given by licensed professionals within a professional
									setting. Relevate makes no claim to be a professional setting appropriate for
									giving advice, diagnosis, and/or treatment. Although many contributors to Relevate
									topics are licensed professionals, the information shared by Relevate, its members,
									its contributors, and its community members is subject to error and should not be
									used to make any major life choices. The purpose of Relevate is to share general
									research findings, which is subject to error and may not apply to each reader.
									Relevate information may contain a call to action, which is subject to error and
									may not apply to each reader. The reader assumes all risks of making decisions and
									choices based on information that he/she found on Relevate's website, app, social
									media pages, or any other source of Relevate information. The reader withdraws any
									right to civil or legal claims or litigation of any type against Relevate, its
									members, and its contributors due to any consequences of choices made by the reader
									based on information gained through Relevate or any of its parties.
								</span>
								<br><br><br>
								<span>
									Relevate reserves the right to remove any information that it believes to be contrary to its
									purpose or inappropriate in nature. Examples of material subject to removal include but are not
									limited to any material that is inflammatory, illegal, commercial in nature, off topic,
									discriminatory, dangerous, plagiarized material, personally identifiable information, and any
									other material Relevate decides to remove. Relevate reserves the right to remove any
									contributor or community member and any material added from any contributor or community member
									from its database including but not limited to screen name, comments, contributions, ratings,
									and any other material.
								</span>
							</div>
							<p>I agree to terms and conditions<span class="orange">*</span>: {{ form.accept_terms }}</p>
						</div>
					</div>
				</div>
			</div>
		<div class="rv-contributor-form_footer">
			<span class="rv-contributor-form_footer--button" id="prevBtn_container">
				{% button
					id="prevBtn"
					type="button"
					color="primary"
				%}
					{% icon_arrow rotate="90" %}
					Previous
				{% end_button %}
			</span>
			<span class="rv-contributor-form_footer--button" id="nextBtn_container">
				{% button 
				  id="nextBtn"
				  type="button"
				%}
				  Next
				  {% icon_arrow rotate="270" %}
				{% end_button %}
			</span>
		</div>
		{# Temp hide this for the demo #}
		<button style="display: none;" type="button" id="save">Save</button>
	</form>
</div>
<input type="hidden" id="contributor_temp_save" name="variable" value="{% url 'profile:contributor_temp_save' %}">
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script>

        var verificationFlags;
        var mentorNeeded = false;
        $(document).ready(function () {
            universitySearchUrl = "{% url 'profile:query_universities' %}";
            academicId = parseInt("{{ max_academic_id }}") + 2;
            certId = parseInt('{{ max_certification_id }}') + 2;
            affiliationId = parseInt('{{ max_affiliation_id }}') + 2;
            academicTable = [];
            certificationTable = [];
            affiliationTable = [];
            updateTablesUpdateInfo(true);
            updateTablesUpdateInfo(false);
        });
	</script>
{% endblock %}

