{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% load button_tags %}
{% load checkbox_tags %}
{% load file_input_tags %}
{% load icon_tags %}
{% load progress_tags %}
{% load select_tags %}
{% load text_area_tags %}
{% load text_input_tags %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-create-verification.js' %}"></script>
{% endblock head %}

{% block content %}
<div id="contributorApplication" class="rv-contributor-form">
	<form id='contributor-create-form' action="{% url 'profile:contributor_create' %}" method="post" enctype='multipart/form-data'>
		{% csrf_token %}
		<h1 class="rv-h3 rv-contributor-form_header">Contributor Application</h1>
		<div class="tab">
			<div class="rv-contributor-form_progress">
				{% progress %}
					{% progress_item status="active" %}Degree and Affiliation{% end_progress_item %}
					{% progress_item %}Professional Info{% end_progress_item %}
	  			{% progress_item %}Topics{% end_progress_item %}
	  			{% progress_item %}Terms and Conditions{% end_progress_item %}
				{% end_progress %}
			</div>
			<div class="rv-contributor-form_box">
				<h4 class="rv-contributor-form_subheader">Degrees</h4>
					{{ form.hiddenAcaTable }}
					<input id="hiddenAcaTable" name="hiddenAcaTable">
					<table id="acaProf" data-name="acaProfTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_academic in academic_profiles %}
								<tr class="rv-contributor-form_box-row acaRow" id="acaProf{{ each_academic.id }}">
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Program</div>
										<div class='rv-contributor-form_table--item-content program'>{{ each_academic.program }}</div>
									</td>
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Level of Study</div>
										<div class='rv-contributor-form_table--item-content degree'>{{ each_academic.degree.name }}</div>
									</td>
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Institution</div>
										<div class='rv-contributor-form_table--item-content institute'>{{ each_academic.institution }}</div>
									</td>
									<td class="rv-contributor-form_button--container">
										<div class="rv-contributor-form_button--group">
											{% with each_academic.id|stringformat:"i" as academic_id %}
												{% with "editAcademicProfile("|add:academic_id|add:")" as editAcademicProfile  %}
												{% with "deleteAcademicProfile("|add:academic_id|add:")" as deleteAcademicProfile %}
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=editAcademicProfile
														%}
															{% icon_edit %}
															Edit
														{% end_button %}
													</div>
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=deleteAcademicProfile
														%}
															{% icon_x %}
															Delete
														{% end_button %}
													</div>
												{% endwith %}
												{% endwith %}
											{% endwith %}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="acaProfCreate">
						<div class="rv-contributor-form_table--item">
							{% text_input
								label=form.program.label
								input=form.program
							%}
						</div>
						<div class="rv-contributor-form_table--item">
							{{form.degree}}
						</div>
						<div class="rv-contributor-form_table--item">
							{% text_input
								label=form.institution.label
								input=form.institution
							%}
							<!-- @US_TODO: Fix this so it works with new framework -->
							<!-- I'm temp disabling this. The async is taking too long, and the box
									 appears but just hangs there. We can integrate these options with the
									 existing select component, we'll just need to enable asynchronus loading
									 for the options. That should be when we revisit this for Contributor page
									 2.0. Until then, we should leave it out as the ui kit version is inconsistent
									 with the other UI in the contrib application, and will be poor UX -->
{# 							<div id="list_of_uni" style="width: 500px;" class="uk-dropdown uk-dropdown-search uk-panel-scrollable">
								<ul class="uk-nav uk-nav-search" id="items_to_search">
								</ul>
							</div> #}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  id="degree-add-btn"
							  type="button"
							  onclick="addAcademicProfile()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Degree
							{% end_button %}
						</div>
					</div>
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Additional Certifications</h4>
					<input id="hiddenCertTable" hidden name="certificateList" >
					<table id="addCert" data-name="certTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_cert in certifications %}
								<tr class="rv-contributor-form_box-row certRow" id="addCert{{ each_cert.id }}">
									<td class="rv-contributor-form_table--item">
										<div class='rv-contributor-form_table--item-label'>Certification</div>
										<span class='rv-contributor-form_table--item-content certName'>{{ each_cert.name_of_certification }}</span>
									</td>
									<td class="rv-contributor-form_button--container">
										<div class="rv-contributor-form_button--group">
											{% with each_cert.id|stringformat:"i" as cert_id %}
												{% with "editCertification("|add:cert_id|add:")" as editCertification %}
												{% with "deleteCertification("|add:cert_id|add:")" as deleteCertification %}
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=editCertification
														%}
															{% icon_edit %}
															Edit
														{% end_button %}
													</div>
													<div class="rv-contributor-form_button--group-button">
														{% button
															type="button"
															variant="ghost"
															color="dark"
															onclick=deleteCertification
														%}
															{% icon_x %}
															Delete
														{% end_button %}
													</div>
												{% endwith %}
												{% endwith %}
											{% endwith %}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="certificationCreate">
						<div class="rv-contributor-form_table--item">
							{% text_input 
								label=form.certification.label
								input=form.certification
							%}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  type="button"
							  onclick="addCertificate()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Certificate
							{% end_button %}
						</div>
					</div>
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Organizational Affiliations</h4>
					<input id="hiddenAffilTable" hidden name="affiliationList">
					<table id="addAffiliation" data-name="affiliationTable" class="rv-contributor-form_table">
						<tbody>
							{% for each_org in organizational_affiliations %}
								<tr class="rv-contributor-form_box-row affiliationRow" id="addAffiliation{{ each_org.id }}">
									<td class="rv-contributor-form_table--item">
										<div>
											<div class='rv-contributor-form_table--item-label'>Affiliation</div>
											<div class='rv-contributor-form_table--item-content affilName'>{{ each_org.name_of_affiliation }}</div>
										</div>
									</td>
									<td class="rv-contributor-form_button--container">
											{% with each_org.id|stringformat:"i" as org_id %}
											{% with "editAffiliation("|add:org_id|add:")" as editAffiliation %}
											{% with "deleteAffiliation("|add:org_id|add:")" as deleteAffiliation %}
												<div class="rv-contributor-form_button--group-button">
													{% button
														type="button"
														variant="ghost"
														color="dark"
														onclick=editAffiliation
													%}
														{% icon_edit %}
														Edit
													{% end_button %}
												</div>
												<div class="rv-contributor-form_button--group-button">
													{% button
														type="button"
														variant="ghost"
														color="dark"
														onclick=deleteAffiliation
													%}
														{% icon_x %}
														Delete
													{% end_button %}
												</div>
											{% endwith %}
											{% endwith %}
										{% endwith %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="rv-contributor-form_box-row" id="affiliationCreate">
						<div class="rv-contributor-form_table--item">
							{{form.organizational_affiliation}}
						</div>
						<div class="rv-contributor-form_button--container">
							{% button 
							  variant="ghost"
							  color="primary" 
							  type="button"
							  onclick="addAffiliation()"
							  fluid_width="True"
							%}
							  {% icon_add %}
							  Add Affiliation
							{% end_button %}
						</div>
					</div>
				</div>
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="active" %}Topics{% end_progress_item %}
		  			{% progress_item %}Professional Info{% end_progress_item %}
		  			{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader">Expertise Topics</h4>
					<div class="rv-contributor-form_content">
						<p class="rv-contributor-form_subheader--caption">
							Select as many topics as you feel qualified to write about.
						</p>
						{{ form.area_of_expertise }}
					</div>
				</div>
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="complete" %}Topics{% end_progress_item %}
		  			{% progress_item status="active" %}Professional Info{% end_progress_item %}
		  			{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader with-margin">Professional Information</h4>
					<div class="rv-contributor-form_content">
						<div class="rv-contributor-form_box-row--borderless">
							<div class="rv-contributor-form_table--item">
								{% text_input
									label=form.address.label
									input=form.address
								%}
							</div>
							<div class="rv-contributor-form_table--item">
								{% text_input
									label=form.city.label
									input=form.city
								%}
							</div>
						</div>
						<div class="rv-contributor-form_box-row--borderless">
							<div class="rv-contributor-form_table--item quarter">
								{{ form.state }}
							</div>
							<div class="rv-contributor-form_table--item quarter">
								{% text_input
									label=form.zipcode.label
									input=form.zipcode
								%}
							</div>
							<div class="rv-contributor-form_table--item">
								{{ form.country }}
							</div>
						</div>
						<div class="rv-contributor-form_box-row--borderless">
							<div class="rv-contributor-form_table--item half">
								{% text_input
									label=form.website_url.label
									input=form.website_url
								%}
							</div>
						</div>
						<div class="rv-contributor-form_separator"></div>
						<div class="rv-contributor-form_box-row--borderless">
							<div class="rv-contributor-form_table--item">
								{% file_input
									label=form.cv.label
									input=form.cv
									accept=".pdf"
									name=form.cv.name
								%}
							</div>
							<div class="rv-contributor-form_table--item">
								{% file_input
									label=form.avatar.label
									input=form.avatar
									accept=".jpg,.jpeg,.png"
									name=form.avatar.name
								%}
							</div>
						</div>
						<div class="rv-contributor-form_separator"></div>
						<div class="rv-contributor-form_separator"></div>
						<div class="rv-contributor-form_box-row--borderless">
							{% text_area
								label=form.biography.label
								input=form.biography
								description="Please provide a brief background about who you are! What are your special interests? Why do you want to be a contributor for Relevate? Are there any other things you want readers to know about you? If approved, this biography will go on your contributor profile page, so be sure to write it thought you are speaking directly to the users of Relevate who may explore and view your profile. This means avoiding jargon and acronyms, and writing at a lower reading level."
							%}
						</div>
					</div>
				</div>
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="complete" %}Topics{% end_progress_item %}
		  			{% progress_item status="complete" %}Professional Info{% end_progress_item %}
		  			{% progress_item status="active" %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader with-margin">Terms and Conditions</h4>
					<div class="rv-contributor-form_terms">
						<p>
							Any information on any topic given by Relevate, its members, its contributors,
							and/or its community members should not be considered to be advice, diagnosis,
							and/or any treatment appropriate for its readers. Appropriate advice, diagnosis,
							and/or treatment can only be given by licensed professionals within a professional
							setting. Relevate makes no claim to be a professional setting appropriate for
							giving advice, diagnosis, and/or treatment. Although many contributors to Relevate
							topics are licensed professionals, the information shared by Relevate, its members,
							its contributors, and its community members is subject to error and should not be
							used to make any major life choices. The purpose of Relevate is to share general
							research findings, which is subject to error and may not apply to each reader.
							Relevate information may contain a call to action, which is subject to error and
							may not apply to each reader. The reader assumes all risks of making decisions and
							choices based on information that he/she found on Relevate's website, app, social
							media pages, or any other source of Relevate information. The reader withdraws any
							right to civil or legal claims or litigation of any type against Relevate, its
							members, and its contributors due to any consequences of choices made by the reader
							based on information gained through Relevate or any of its parties.
						</p>
						<br/>
						<p>
							Relevate reserves the right to remove any information that it believes to be contrary to its purpose or inappropriate in nature. Examples of material subject to removal include but are not limited to any material that is inflammatory, illegal, commercial in nature, off topic, discriminatory, dangerous, plagiarized material, personally identifiable information, and any other material Relevate decides to remove. Relevate reserves the right to remove any contributor or community member and any material added from any contributor or community member from its database including but not limited to screen name, comments, contributions, ratings, and any other material.
						</p>
						<br/>
						{% checkbox
							label="I agree to these terms and conditions"
							input=form.accept_terms
							name=form.accept_terms.name
						%}
					</div>
				</div>
			</div>
		<div class="rv-contributor-form_footer">
			<span class="rv-contributor-form_footer--button" id="prevBtn_container">
				{% button
					id="prevBtn"
					type="button"
					color="primary"
					variant="ghost"
				%}
					{% icon_arrow rotate="90" %}
					Previous
				{% end_button %}
			</span>
			<span class="rv-contributor-form_footer--button" id="nextBtn_container">
				{% button 
				  id="nextBtn"
				  type="button"
				  variant="ghost"
				%}
				  Next
				  {% icon_arrow rotate="270" %}
				{% end_button %}
			</span>
		</div>
		{# Temp hide this for the demo #}
		<button style="display: none;" type="button" id="save">Save</button>
	</form>
</div>
<input type="hidden" id="contributor_temp_save" name="variable" value="{% url 'profile:contributor_temp_save' %}">
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script>
        var verificationFlags;
        var mentorNeeded = false;
        $(document).ready(function () {
            universitySearchUrl = "{% url 'profile:query_universities' %}";
            academicId = parseInt("{{ max_academic_id }}") + 2;
            certId = parseInt('{{ max_certification_id }}') + 2;
            affiliationId = parseInt('{{ max_affiliation_id }}') + 2;
            academicTable = [];
            certificationTable = [];
            affiliationTable = [];
            updateTablesUpdateInfo(true);
            updateTablesUpdateInfo(false);
        });
	</script>
{% endblock %}

