{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% load button_tags %}
{% load checkbox_tags %}
{% load file_input_tags %}
{% load icon_tags %}
{% load progress_tags %}
{% load select_tags %}
{% load text_area_tags %}
{% load text_input_tags %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-create-verification.js' %}"></script>
{% endblock head %}

{% block content %}
<div id="contributorApplication" class="rv-contributor-form">
	<form id='contributor-create-form' action="{% url 'profile:contributor_create' %}" method="post" enctype='multipart/form-data'>
		{% csrf_token %}
		<h1 class="rv-h3 rv-contributor-form_header">Contributor Application</h1>
			<div class="tab">
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="active" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item %}Professional Info{% end_progress_item %}
						{% progress_item %}Topics{% end_progress_item %}
						{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				{% include 'partials/contributor_degree_and_affiliation.html' %}
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="active" %}Topics{% end_progress_item %}
						{% progress_item %}Professional Info{% end_progress_item %}
						{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				{% include 'partials/contributor_topics.html' %}
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="complete" %}Topics{% end_progress_item %}
						{% progress_item status="active" %}Professional Info{% end_progress_item %}
						{% progress_item %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				{% include 'partials/contributor_professional_info.html' %}
			</div>
			<div class='tab'>
				<div class="rv-contributor-form_progress">
					{% progress %}
						{% progress_item status="complete" %}Degree and Affiliation{% end_progress_item %}
						{% progress_item status="complete" %}Topics{% end_progress_item %}
		  			{% progress_item status="complete" %}Professional Info{% end_progress_item %}
		  			{% progress_item status="active" %}Terms and Conditions{% end_progress_item %}
					{% end_progress %}
				</div>
				<div class="rv-contributor-form_box">
					<h4 class="rv-contributor-form_subheader with-margin">Terms and Conditions</h4>
					<div class="rv-contributor-form_terms">
						<p>
							Any information on any topic given by Relevate, its members, its contributors,
							and/or its community members should not be considered to be advice, diagnosis,
							and/or any treatment appropriate for its readers. Appropriate advice, diagnosis,
							and/or treatment can only be given by licensed professionals within a professional
							setting. Relevate makes no claim to be a professional setting appropriate for
							giving advice, diagnosis, and/or treatment. Although many contributors to Relevate
							topics are licensed professionals, the information shared by Relevate, its members,
							its contributors, and its community members is subject to error and should not be
							used to make any major life choices. The purpose of Relevate is to share general
							research findings, which is subject to error and may not apply to each reader.
							Relevate information may contain a call to action, which is subject to error and
							may not apply to each reader. The reader assumes all risks of making decisions and
							choices based on information that he/she found on Relevate's website, app, social
							media pages, or any other source of Relevate information. The reader withdraws any
							right to civil or legal claims or litigation of any type against Relevate, its
							members, and its contributors due to any consequences of choices made by the reader
							based on information gained through Relevate or any of its parties.
						</p>
						<br/>
						<p>
							Relevate reserves the right to remove any information that it believes to be contrary to its purpose or inappropriate in nature. Examples of material subject to removal include but are not limited to any material that is inflammatory, illegal, commercial in nature, off topic, discriminatory, dangerous, plagiarized material, personally identifiable information, and any other material Relevate decides to remove. Relevate reserves the right to remove any contributor or community member and any material added from any contributor or community member from its database including but not limited to screen name, comments, contributions, ratings, and any other material.
						</p>
						<br/>
						{% checkbox
							label="I agree to these terms and conditions"
							input=form.accept_terms
							name=form.accept_terms.name
						%}
					</div>
				</div>
			</div>
		<div class="rv-contributor-form_footer">
			<span class="rv-contributor-form_footer--button" id="prevBtn_container">
				{% button
					id="prevBtn"
					type="button"
					color="primary"
					variant="ghost"
				%}
					{% icon_arrow rotate="90" %}
					Previous
				{% end_button %}
			</span>
			<span class="rv-contributor-form_footer--button" id="nextBtn_container">
				{% button 
				  id="nextBtn"
				  type="button"
				  variant="ghost"
				%}
				  Next
				  {% icon_arrow rotate="270" %}
				{% end_button %}
			</span>
		</div>
		{# Temp hide this for the demo #}
		<button style="display: none;" type="button" id="save">Save</button>
	</form>
</div>
<input type="hidden" id="contributor_temp_save" name="variable" value="{% url 'profile:contributor_temp_save' %}">
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script>
        var verificationFlags;
        var mentorNeeded = false;
        $(document).ready(function () {
            universitySearchUrl = "{% url 'profile:query_universities' %}";
            academicId = parseInt("{{ max_academic_id }}") + 2;
            certId = parseInt('{{ max_certification_id }}') + 2;
            affiliationId = parseInt('{{ max_affiliation_id }}') + 2;
            academicTable = [];
            certificationTable = [];
            affiliationTable = [];
            updateTablesUpdateInfo(true);
            updateTablesUpdateInfo(false);
        });
	</script>
{% endblock %}

