{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% load button_tags %}
{% load checkbox_tags %}
{% load file_input_tags %}
{% load icon_tags %}
{% load progress_tags %}
{% load select_tags %}
{% load text_area_tags %}
{% load text_input_tags %}
{% load tab_list_tags %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-update.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-update.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-update-verification.js' %}"></script>
{% endblock head %}

{% block content %}

<div id="contributorApplication" class="rv-contributor-form">
        <form id="contrib-update-form" action="{% url 'profile:contributor_update' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% button color="dark"
            id="cancelBtn"
            href="profile:contributor_profile"
        %}
          Discard Changes
        {% end_button %}
        {% button
          id="submitBtn"
          variant="solid"
        %}
          Save Changes
        {% end_button %}

        {% tab_list %}
          {% tab_panel title="Edit Contributor Profile" %}
                {% include 'partials/contributor_degree_and_affiliation.html' %}
                {% include 'partials/contributor_topics.html' %}
                {% include 'partials/contributor_professional_info.html' %}
            {# Temp hide this for the demo #}
            <button style="display: none;" type="button" id="save">Save</button>
          {% end_tab_panel %}
          {% tab_panel title="Edit User Profile" %}
            <div class="uk-container uk-margin-top">
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-bold">
                        {{ form.first_name.label }}<span class="orange">*</span>
                    </label>
                    <div class="uk-form-controls">
                        {{ form.first_name }}
                    </div>
                </div>
                <br>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-bold">
                        {{ form.last_name.label }}<span class="orange">*</span>
                    </label>
                    <div class="uk-form-controls">
                        {{ form.last_name }}
                    </div>
                </div>
                <br>
                <ul>
                    <li>
                        Leave both password fields empty to keep old password
                    </li>
                    <li>
                        Note: if your password is changed, you will be asked to log in with your new password immediately.
                    </li>
                </ul>
                <div>
					<label class="uk-form-label uk-text-bold">{{ form.password1.label }}</label>
					<div class="uk-form-controls">
						{{ form.password1 }}
					</div>
				</div>
                <br>
                <div>
                    <label class="uk-form-label uk-text-bold">{{ form.password2.label }}</label>
                    <div class="uk-form-controls">
                        {{ form.password2 }}
                    </div>
                </div>
                <ul uk-accordion>
                    <li>
                        <h3 class='uk-accordion-title'>
                            Topics of Interest (optional)
                        </h3>
                        <div class='uk-accordion-content'>
                            <div class="rv-contributor-form_box">
                                <div class="rv-contributor-form_content">
                                    <p class="rv-contributor-form_subheader--caption">
                                        Select the topics that interest you.
                                    </p>
                                    {{ form.area_of_expertise_user }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
          {% end_tab_panel %}
        {% end_tab_list %}
        </form>
</div>
<input type="hidden" id="contributor_temp_save" name="variable" value="{% url 'profile:contributor_temp_save' %}">
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script>
        var verificationFlags;
        var mentorNeeded = false;
        $(document).ready(function () {
            universitySearchUrl = "{% url 'profile:query_universities' %}";
            academicId = parseInt("{{ max_academic_id }}") + 2;
            certId = parseInt('{{ max_certification_id }}') + 2;
            affiliationId = parseInt('{{ max_affiliation_id }}') + 2;
            academicTable = [];
            certificationTable = [];
            affiliationTable = [];
            updateTablesUpdateInfo(true);
            updateTablesUpdateInfo(false);
        });
	</script>
{% endblock %}

