{% extends "base-titlebar.html" %}
{{ request.path }}
{% block content %}
<div class='uk-container uk-margin-top'>
	<h2 class="orange">Password Change</h2>
	<p>Please enter your new password</p>
	<form action="" method="post" class='uk-form-stacked'>
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>
		<div class='uk-form-row'>
			<div class='uk-form-label uk-text-bold'>
				{{ form.new_password1.label }}
			</div>
			<div class='uk-form-controls'>
				{{ form.new_password1 }}
			</div>
		</div>
		<div class='uk-form-row'>
			<div class='uk-form-label uk-text-bold'>
				{{ form.new_password2.label }}
			</div>
			<div class='uk-form-controls'>
				{{ form.new_password2 }}
			</div>
		</div>
	</form>
</div>
{% endblock %}