{% extends "base-titlebar.html" %}
{% load text_input_tags %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/topic-button.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-create-verification.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="rv-box-layout">
	<div class="rv-box-layout_box">
		<h2 class="rv-box-form_header">Create account</h2>
		<form action="{% url 'profile:registration' %}" method="post" class="uk-form-horizontal">
			{% csrf_token %}
			<div>
				{% text_input
					label=form.first_name.label
					input=form.first_name
				%}
			</div>
			<div>
				{% text_input
					label=form.last_name.label
					input=form.last_name
				%}
			</div>
			<div>
				{% text_input
					label=form.email.label
					input=form.email
				%}
			</div>
			<div>
				{% text_input
					label=form.password1.label
					input=form.password1
				%}
			</div>
			<div>
				{% text_input
					label=form.password2.label
					input=form.password2
				%}
			</div>
{# 		
			TODO: Comenting this out until we get de facto
			direction on what we want to do with area of
			expertise throughout the site

			<ul uk-accordion>
				<li>
					<h3 class='uk-accordion-title'>
						Topics of Interest (optional)
					</h3>
					<div class='uk-accordion-content'>
						<div  class="uk-form-row">
							<div class="uk-form-controls">
								{{ form.area_of_expertise }}
							</div>
						</div>
					</div>
				</li>
			</ul>
			<br> 
#}
			<div class="rv-box-form_submit">
				<button type="submit" class='rv-button fill-button'>Sign Up</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}