{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contributor-create.css' %}">
	<script type="text/javascript" src="{% static 'js/contributor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/topic-button.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/degree.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contributor-create-verification.js' %}"></script>
{% endblock %}

{% block content %}

	<div>
		<div class="uk-container uk-margin-top">
            <form action="{% url 'profile:user_update' %}" method="post" class="uk-form-horizontal">
				{% csrf_token %}
                <div class="sign-in-header text-center">
                    <h1>Update Profile</h1>
                    {% if user_prof.confirmed %}
                    <p class="uk-badge uk-badge-notification uk-badge-success">Confirmation status: All set!</p>
                    {% else %}
                    <p class="uk-badge uk-badge-notification uk-badge-danger">Confirmation status: Not quite.</p>
                    {% endif %}
                </div>
                <br>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-bold">
                        {{ form.first_name.label }}<span class="orange">*</span>
                    </label>
                    <div class="uk-form-controls">
                        {{ form.first_name }}
                    </div>
                </div>
                <br>
                <div class="uk-form-row">
                    <label class="uk-form-label uk-text-bold">
                        {{ form.last_name.label }}<span class="orange">*</span>
                    </label>
                    <div class="uk-form-controls">
                        {{ form.last_name }}
                    </div>
                </div>
                <br>
                <ul>
                    <li>
                        Leave both password fields empty to keep old password
                    </li>
                    <li>
                        Note: if your password is changed, you will be asked to log in with your new password immediately.
                    </li>
                </ul>
                <div>
					<label class="uk-form-label uk-text-bold">{{ form.password1.label }}</label>
					<div class="uk-form-controls">
						{{ form.password1 }}
					</div>
				</div>
                <br>
                <div>
                    <label class="uk-form-label uk-text-bold">{{ form.password2.label }}</label>
                    <div class="uk-form-controls">
                        {{ form.password2 }}
                    </div>
                </div>
                <ul uk-accordion>
                    <li>
                        <h3 class='uk-accordion-title'>
                            Topics of Interest (optional)
                        </h3>
                        <div class='uk-accordion-content'>
                            <div  class="uk-form-row">
                                <div class='uk-hidden'>
                                    <div class="uk-form-controls">
                                        {{ form.area_of_expertise }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="uk-card uk-card-default uk-box-shadow-large">
                                        <div class='uk-card-body'>
                                            <h3>Selected Topics of Interest</h3>
                                            <div id="chosen-item-list" uk-grid>
                                                {% for each_sel in already_sel %}
                                                    {% include 'global-partials/already-selected-topic-partial.html' %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="uk-card uk-card-default uk-box-shadow-large">
                                        <div class='uk-card-body'>
                                            <h3>List of Available Topics</h3>
                                            <div uk-grid>
                                                {% for topic in tag_names %}
                                                    {% include 'global-partials/available-topics-partial.html' %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button type='submit' class='uk-button uk-button-primary'>Save Changes</button>
			</form>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{{ block.super }}

	<script type="text/javascript">

		$(document).ready(function () {
			updateTablesUpdateInfo(true);
			updateTablesUpdateInfo(false);
		});

	</script>

{% endblock %}
