{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load button_tags %}

{% block head %}
	{{ block.super }}
{% endblock head %}

{% block content %}
<div class="rv-box-layout">
  <div class="rv-box-layout_box">
			<h2>Welcome to Relevate!</h2>
      While you're here, sign up to become a contributor.
      {% button
        variant="ghost"
        color="primary"
        href="profile:contributor_create"
        fluid_width="True"
        margin="1rem 0 1rem 0"
      %}
        Contributor application
      {% end_button %}
      Or, if you'd like to complete this step later, you can
      <a class="rv-link" href="{% url 'contribution:home' %}">
				continue to the home page.
			</a>
	</div>
</div>
{% endblock %}