<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
					{% for p in preference_posts %}
						{% if p.is_link %}
							{% with l=p.link %}
								{% include 'partials/link_card_partial.html' %}
							{% endwith %}
						{% elif p.is_article %}
							{% with a=p.article %}
								{% include 'partials/article_card_partial.html' %}
							{% endwith %}
						{% elif p.is_infographic %}
							{% with i=p.infographic %}
								{% include 'partials/infographic_card_partial.html' %}
							{% endwith %}
						{% endif %}
					{% endfor %}
</head>
<body>

</body>
</html>