@import "../base/variables";

.rv-article-card {
  width: 18em;
  margin: 0 2em 2em 2em;
  box-shadow: $rv-card-box-shadow;
  break-inside: avoid;
}

.rv-article-card_img {
  width: 100%;
}

.rv-article-card_content {
  padding: 0 1em 2em 1em;
}