@import "../base/variables";
@import "../mixins/focus";

.rv-button {
  position: relative;
  border-radius: 2em;
  box-sizing: border-box;
  border: 2px solid $rv-color-primary;
  color: $rv-color-white;
  background: $rv-color-primary;
  font-size: 1rem;
  font-weight: $rv-font-weight-semibold;
  padding: 0.25em 1em;
  transition: background 200ms linear;
  text-decoration: none;

  &:hover {
    background: $rv-color-primary;
    color: $rv-color-white;
    transition: background 200ms linear;
  }

  &:active {
    background: darken($rv-color-primary, 20%)
  }

  @include buttonFocus(0.3rem, 0.33rem, 0.3rem, 0.32rem);
}