@font-face {
  font-family: 'Lora';
  src: url('#{$lora-font-path}/lora-italic/lora-italic.eot');
  src: local('Lora Italic'),
       local('Lora-Italic'),
       url('#{$lora-font-path}/lora-italic/lora-italic.woff2') format('woff2'),
       url('#{$lora-font-path}/lora-italic/lora-italic.woff') format('woff'),
       url('#{$lora-font-path}/lora-italic/lora-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
