{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load tab_list_tags %}
{% load icon_tags %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

	<div class="uk-container uk-margin-top">
		<h1>About Us
            {% if can_edit %}
            <a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_create' %}">
                    Add New Entry </a>
            {% endif %}
        </h1>

		<p>Relevate is an interdisciplinary team of relationship scientists, educators, and practitioners in partnership with computer engineers, marketing specialists, and young adults who are passionate about improving the health of individuals and relationships everywhere. Although social scientists have been researching what makes relationships thrive for decades, there is a huge gap between what researchers know about healthy relationships and what is accessible to the general public. </p>

		<p>Our aim is to fuse technology and scientific discovery to elevate the lives of people across the world on their journey in and between relationships through MyRelevate, a mobile platform for relationship scholars and practitioners to directly share their research and theory-driven insights with people seeking resources for making their relationship goals a reality. </p>

		<div class="rv-about-tablist">
			{% tab_list %}
			  {% tab_panel title="Architects" %}
					<h2>Architects</h2>
					<p>These are the current Relevate team members working behind the scenes to help bring relationship research to the public.</p>
										 {% for a in architects %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
														{% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
														{% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
					<br>
					<h2>Previous Architects</h2>
					<p>These are the current software engineers bringing this project to life.</p>
					{% for a in previous_architects %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
														{% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
														{% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
			  {% end_tab_panel %}
			  {% tab_panel title="Engineers" %}
					<h2>Engineers</h2>
					<p>These are the current software engineers bringing this project to life.</p>
										{% for a in engineers %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
														{% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
														{% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}

					<div class="rv-about-content">
					<div class='rv-about-card'>
						<div class='rv-about-avatar'>
							{% icon_wildcat title="wildcat" size="x-large" %}
						</div>
						<h4>
							Steve Jensen
						</h4>
					</div>
					<div class='rv-about-card'>
						<div class='rv-about-avatar'>
							{% icon_wildcat title="wildcat" size="x-large" %}
						</div>
						<h4>
							Joshua Hock
						</h4>
					</div>
					<div class='rv-about-card'>
						<div class='rv-about-avatar'>
							{% icon_wildcat title="wildcat" size="x-large" %}
						</div>
						<h4>
							John Chapple
						</h4>
					</div>
					</div>

					<div class="rv-about-content">
					<h2>Previous Engineers</h2>
					<p>These are the current software engineers bringing this project to life.</p>

					<div class='rv-about-card'>
						<div class='rv-about-avatar'>
							{% icon_wildcat title="wildcat" size="x-large" %}
						</div>
						<h4>
							Nic Johnson
						</h4>
					</div>
					<div class='rv-about-card'>
						<div class='rv-about-avatar'>
							{% icon_wildcat title="wildcat" size="x-large" %}
						</div>
						<h4>
							Uzzi Emuchay
						</h4>
					</div>
					</div>

			  {% end_tab_panel %}
			  {% tab_panel title="Official Advisers" %}
					<h2>Official Advisers</h2>
					{% for a in advisers %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
														{% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
														{% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
			  {% end_tab_panel %}
				{% tab_panel title="Funders" %}
					<h2>Funders</h2>
					{% for f in funders %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
														{% if f.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ f.image.url}}">
							</div>
														{% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ f.name }}
									{% if can_edit %}
										<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' f.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' f.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ f.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
				{% end_tab_panel %}
				{% tab_panel title="Contact Us" %}
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<canvas width='100' height='100'></canvas>
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Relevate Team Contact Information
							</h4>
							<p>Email:	relevate@outlook.com</p>
						</div>
					</div>
				{% end_tab_panel %}
			{% end_tab_list %}
		</div>
	</div>
{% endblock %}
