{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

	<div class="uk-container uk-margin-top">
		<h1>About Us
            {% if can_edit %}
            <a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_create' %}">
                    Add New Entry </a>
            {% endif %}
        </h1>

		<p>Relevate is an interdisciplinary team of relationship scientists, educators, and practitioners in partnership with computer engineers, marketing specialists, and young adults who are passionate about improving the health of individuals and relationships everywhere. Although social scientists have been researching what makes relationships thrive for decades, there is a huge gap between what researchers know about healthy relationships and what is accessible to the general public. </p>

		<p>Our aim is to fuse technology and scientific discovery to elevate the lives of people across the world on their journey in and between relationships through MyRelevate, a mobile platform for relationship scholars and practitioners to directly share their research and theory-driven insights with people seeking resources for making their relationship goals a reality. </p>

		<ul class="uk-tab" data-uk-tab="{connect:'#content-panels'}">
			<li class='uk-active'><a>Architects</a></li>
			<li><a>Engineers</a></li>
			<li><a>Official Advisers</a></li>
			<li><a>Funders</a></li>
			<li><a>Contact Us</a></li>
		</ul>

		<ul id="content-panels" class="uk-switcher uk-margin">
			<li>
				<div class='uk-container'>
					<h2>Architects</h2>
					<p>These are the current Relevate team members working behind the scenes to help bring relationship research to the public.</p>
                     {% for a in architects %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
                            {% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
                            {% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}

                    <div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/Relevate+Team-5716-Edit.resized.jpg">
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Amber Vennum
							</h4>
							<p>Co-Director</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I founded Relevate because increasing access to research-based information about relationships has the potential to increase people’s ability to make decisions that move them closer to achieving their relationship goals.</p>
							<p>My husband pursued me by joining my swing dancing class in college and we still love to dance together.</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/Relevate+Team-5675-Edit.resized.jpg">

						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Natalie Pennington
							</h4>
							<p>Co-Director</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>For me, being co-director of Relevate is the opportunity to infuse research on the importance of communication into the organization, while also getting to share with the community in creative ways how they can reach the goals they have in their own relationships, whether it be romantic or platonic. </p>
							<p>If I'm not on campus you'll find me hanging out with my husband and pets (2 cats and a dog)- I am a firm believe in the therapeutic value of animals as a way to de-stress
								at the end of a day! If you want to see how cute they are, feel free to check them out
								on my instagram (<a href="https://preprod.instagram.com/natpenn/">@natpenn</a>).</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/Relevate+Team-5711-Edit.resized.jpg">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Stacy Conner
							</h4>
								<p>Assistant Director</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I chose Relevate because I'm passionate about relationship research and believe it should be delivered in a practical manner and distributed widely to the public in real time; because why not? </p>
							<p>I am one of the 1-3% of people with geographic tongue; my tongue makes random shapes! Especially when I eat my favorite salt and vinegar chips. </p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/Relevate+Team-5688-Edit.resized.jpg">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Denzel Jones
							</h4>
							<p>Special Operations</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I chose to become part of Relevate because I value quality relationship education produced by scholars and experts, and I believe that everyone should have personal access to the information that they find useful and relevant. Not only am I honored to have the opportunity to contribute to the field of relationship education and provide for the general public, but I am also grateful to be able to further my own knowledge and experience while collaborating with other professionals.</p>
							<p>When I am not doing work for Relevate you can find me in my apartment making music in my personal studio. </p>
						</div>
					</div>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-small' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span>  Eric Goodcase
							</h4>
							<p>Special Operations</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I believe that as researchers we should harness the power of technology to help people in their relationships and their everyday lives. </p>
							<p>I have two cats named after DC Comic supervillains </p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/kanter.jpg">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Jeremy Kanter
							</h4>
							<p>Content Creation Specialist</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>My name is Jeremy Kanter, I am currently a PhD student at the University of Missouri. I am a Relevate developer. I chose to work on this project because of the need to get research into the community to help individuals and couples as they navigate their romantic relationships.</p>
							<p>Not only do I put in the miles on Relevate, I have also run three half marathons! </p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/Relevate+Team-5729-Edit.resized.jpg">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Loren Taylor
							</h4>
							<p>Special Operations</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I joined Relevate because I thought the best way to connect with people in generation would be through mobile technology. If I rely on my phone to help keep track of my life, then why not rely on it to improve my relationship? </p>
							<p>I have 2 Disney tattoos: Simba from Lion King, and the Genie bottle from Aladdin </p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='about-image' src="https://s3-us-west-2.amazonaws.com/relevate-media-bucket/media/about_profiles/profileimage.jpeg">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-medium uk-icon-user'></span> Morgan Bialas
							</h4>
							<p>Special Operations</p>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<br>
					<h2>Previous Architects</h2>
					<p>These are the current software engineers bringing this project to life.</p>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span>
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class='uk-container'>
					<h2>Engineers</h2>
					<p>These are the current software engineers bringing this project to life.</p>
                    {% for a in engineers %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
                            {% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
                            {% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Nic Johnson
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Uzzi Emuchay
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Josh Hock
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<h2>Previous Engineers</h2>
					<p>These are the current software engineers bringing this project to life.</p>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span>
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span>
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
					<br>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<img class='uk-height-medium' src="https://twibbon.s3.amazonaws.com/2012/66/temp_6bad0fce-dcdd-405f-b133-fd3c5a00227a.gif">
							
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span>
							</h4>
							<p><i><b>What drew you to Relevate?</b></i></p>
							<p>I would put my answer here</p>
							<p>I would put my answer here</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class='uk-container'>
					<h2>Official Advisers</h2>
					{% for a in advisers %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
                            {% if a.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ a.image.url}}">
							</div>
                            {% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ a.name }}
									{% if can_edit %}
									<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' a.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' a.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ a.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
				</div>
			</li>
			<li>
				<div class='uk-container'>
					<h2>Funders</h2>
					{% for f in funders %}
						<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
                            {% if f.image %}
							<div class='uk-width-auto uk-card-media-left uk-conver-container'>
								<img class='about-image' src="{{ f.image.url}}">
							</div>
                            {% endif %}
							<div class='uk-card-body uk-width-expand'>
								<h4 class='uk-card-title'>
									<span class='uk-icon-small uk-icon-user'></span> {{ f.name }}
									{% if can_edit %}
										<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:about_update' f.slug %}">
									Edit </a>
									<form class='uk-float-right' action="{% url 'contribution:about_remove' f.pk %}" method="post">
										{% csrf_token %}
										<input style='color: white; background-color: red;' class='uk-button uk-button-primary' type="submit" value="Delete" />
									</form>
									{% endif %}
								</h4>
								{% autoescape off %}
									{{ f.content }}
								{% endautoescape %}
							</div>
						</div>
						<br>
					{% endfor %}
				</div>
			</li>
			<li>
				<div class='uk-container'>
					<div class='uk-card uk-card-default uk-box-shadow-large' uk-grid>
						<div class='uk-width-auto uk-card-media-left uk-conver-container'>
							<canvas width='100' height='100'></canvas>
						</div>
						<div class='uk-card-body uk-width-expand'>
							<h4 class='uk-card-title'>
								<span class='uk-icon-small uk-icon-user'></span> Relevate Team Contact Information
							</h4>
							<p>Email:	relevate@outlook.com</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}