{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/content-creation-verification.js' %}"></script>
{% endblock %}

{% block content %}

<div class='uk-container uk-margin-top'>
	<form class="uk-form uk-form-stacked" id="formUpload" action="{% url 'contribution:content_creation_create' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}
		{% if public_scholarship_or_content_creation == False %}
		<h1 class='orange'>Create A Content Creation Guide</h1>
		{% else %}
		<h1 class='orange'>Create A Public Scholarship Entry</h1>
		{% endif %}
		<ul class="uk-tab" data-uk-tab="{connect:'#content-panels'}">
			<li class='uk-active'><a>Article</a></li>
            <li><a>Video or Audio</a></li>
			<li><a>Link</a></li>
		</ul>

		<ul id="content-panels" class="uk-switcher uk-margin">
			<li>

			<div class='uk-form-row'>
				<label class='uk-form-label uk-text-bold uk-text-lead'>{{ form.title.label }} <span class="orange">*</span><span id="title_count"></span></label>
				<div class='uk-form-controls'>
					{{ form.title }}
				</div>
			</div>
			<br>
			<div class='uk-form-row'>
				<label class='uk-form-label uk-text-bold uk-text-lead'>{{ form.content.label }} <span class="orange">*</span><span id="content_count"></span></label>
				<div class='uk-form-controls'>
					{{ form.content }}
				</div>
			</div>
			<br>
			<div class='uk-form-row'>
				<label class='uk-form-label uk-text-bold uk-text-lead'>{{ form.blurb.label }} <span class="orange">*</span><span id="blurb_count"></span></label>
				<div class='uk-form-controls'><i id="blurb_count"></i>
					{{ form.blurb }}
				</div>
			</div>
			<br>
			<div>
				<label class='uk-form-label uk-text-bold uk-text-lead'>
					{{ form.references.label }} <span id="references_count"></span>
				</label>
				<div>
					{{ form.references }}
				</div>
			</div>
			<br>
			<div>
				<label class='uk-form-label uk-text-bold uk-text-lead'>
					{{ form.content_file.label }} <span id="content_file_count"></span>
				</label>
				<div>
					{{ form.content_file }}
				</div>
			</div>
			<br>
			{% if public_scholarship_or_content_creation == False %}
				<div>
					<label class='uk-form-label uk-text-bold uk-text-lead'>
						{{ form.type.label }} <span class="orange">*</span><span id="type_count"></span>
					</label>
					<div>
						{{ form.type }}
					</div>
				</div>
				<div>
					<label class='uk-form-label uk-text-bold uk-text-lead'>
						{{ form.level.label }} <span class="orange">*</span><span id="level_count"></span>
					</label>
					<div>
						{{ form.level }}
					</div>
				</div>
			{% else %}
				<div class="uk-hidden">
					{{ form.type }}
					{{ form.level }}
				</div>
			{% endif %}
			<br>
			<div class='uk-form-row'>
				<label class='uk-form-label uk-text-bold uk-text-lead'>{{ form.image.label }} <span class="orange">*</span></label>
				<p>
					Must be .png, .jpg, or .jpeg
				</p>
				<div class='uk-form-controls'>
					{{ form.image }}
				</div>
			</div>
			<div class="uk-hidden">
				{{ form.x }}
				{{ form.y }}
				{{ form.height }}
				{{ form.width }}
				{{ form.public_scholarship_or_content_creation }}
			</div>

			  <!-- MODAL TO CROP THE IMAGE -->
			  <div class="modal fade" id="modalCrop">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					  <h4 class="modal-title">Crop the photo</h4>
					</div>
					<div class="modal-body">
					  <img src="" id="image" style="max-width: 100%;">
					</div>
					<div class="modal-footer">
					  <div class="btn-group pull-left" role="group">
						<button type="button" class="btn btn-default js-zoom-in">
						  <span class="glyphicon glyphicon-zoom-in"></span>
						</button>
						<button type="button" class="btn btn-default js-zoom-out">
						  <span class="glyphicon glyphicon-zoom-out"></span>
						</button>
					  </div>
					  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
					  <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
					</div>
				  </div>
				</div>
			  </div>

			  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
			  <div class="row uk-hidden" style="margin-top: 20px">
				  <div class="col-sm-4 col-md-3" id="cropped_thumbnail">
					<img src="{{ form.image.url }}" class="thumbnail">
				  </div>
			  </div>


		<br>
		<input id='hidden-publish-checkbox' name='hidden-publish-checkbox' type='checkbox' hidden />
		<div class='uk-grid'>
			<div>
				<button id='submit-btn' type="button" name='save_and_publish'class="submit-button uk-button uk-button-orange">
					Save And Publish
				</button>
				<!--<button id='submit-btn' type="button" class="submit-button uk-button uk-button-primary">Save</button>-->
                <!--<button id='preview-btn' type="button" class="uk-button uk-button-secondary"-->
                                             <!--uk-toggle="target: #preview-modal-article">-->
                    <!--Preview-->
                <!--</button>-->
			</div>
            <span class="orange">* Required item.</span>
		</div>
		<br>
	</form>
    <div id="preview-modal-article" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            {% include 'previews/article_preview.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script>
		// Replace the <textarea id="editor1"> with a CKEditor
		// instance, using default configuration.
		CKEDITOR.replace('id_content');
		CKEDITOR.replace('id_references');
		CKEDITOR.replace('id_blurb');
	</script>
{% endblock %}