{% extends "base-titlebar.html" %}
{% load staticfiles %}


{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59d698fcf466510012f7fead&product=sticky-share-buttons"></script>
{% endblock %}

{% block content %}
<div class='uk-container uk-margin-top'>
		<div hidden id="error-message" class="uk-alert uk-alert-danger">
			<p>Sorry Something went wrong try again, or reload page</p>
		</div>
		 <div hidden id="publish-message" class="uk-alert uk-alert-success">
			<p>Post has been published!</p>
		</div>
		 <div hidden id="unpublish-message" class="uk-alert uk-alert-success">
			<p>Post has been unpublished!</p>
		</div>
		{% if post.public_scholarship_or_content_creation == True %}
			<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:public_scholarship' %}">
				Back To All Posts
			</a>
		{% elif post.public_scholarship_or_content_creation == False %}
			<a style='color: white;' class='uk-button uk-button-primary' href="{% url 'contribution:content_creation' %}">
				Back To All Posts
			</a>
		{% endif %}
        <h1 class="uk-text-center uk-text-uppercase">{{ post.title }}</h1>

        <div class="uk-text-center">
                <img style="max-width: 50px;" class="profile_avatar uk-border-circle" src="{{ post.contributor.avatar_image_url }}">
            {{ post.contributor.user_profile.user.first_name }} {{ post.contributor.user_profile.user.last_name }}
            <span style="display:inline-block; width: 50px;"></span>
            {{ post.publishedDate }}
        </div>
        <br>

		{% with p=post %}
			{% include 'partials/content_create_partial.html' %}
		{% endwith %}
</div>
{% endblock %}