{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'uikit-old/css/components/accordion.min.css' %}" />
<link rel="stylesheet" href="{% static 'uikit-old/css/components/slideshow.min.css' %}" />
<link rel="stylesheet" href="{% static 'uikit-old/css/components/slider.min.css' %}" />
<link rel="stylesheet" href="{% static 'uikit-old/css/components/slidenav.min.css' %}" />
<link rel="stylesheet" href="{% static 'uikit-old/css/components/dotnav.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/global.css' %}" />

<body onload="return ran_col()">
	<div class="rv-home_body">
		{% if user.is_authenticated %}
			<div class="rv-home_body_top">
				<div><h2 class="rv-home_welcome"> Welcome {{ user.first_name }}</h2></div>
				{% if not user_prof.confirmed %}
				<!--TODO: we should provide some useful feedback here. How do they go about confirming the account? -->
				<p class="uk-badge uk-badge-notification uk-badge-danger">Looks like you still need to confirm your account</p>
				{% endif %}
			</div>
			</div>
		<br>
		{% else %}
			{% include 'partials/home_header_partial.html' %}
		{% endif %}

			{% if user.is_authenticated and not user_prof.is_contributor %}
					<!--<div class='uk-grid-match' uk-grid>-->
			<!--<div class="uk-width-1-1">-->
				<!--<div class='uk-card uk-card-default uk-card-body uk-text-large' style="background-color:#1f87f0;">-->
					<!--<p style="color:#f5f5f5;">-->
						<!--We are currently working on making this website great and need contributions from relationship content experts. If that's you, sign up to be a contributor-->
						<!--<a href="{% url 'profile:contributor_create' %}">here</a>.-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
								<!--</div>-->
			{% endif %}
		<!--<div uk-grid>-->
			<!--<div class='uk-card uk-card-default uk-card-body uk-width-1-1'>-->
				<!--<p>-->
					<!--To provide research-informed, personalized, and up-to-date information on establishing and-->
					<!--maintaining healthy relationships to young adults through accessible mobile technology.-->
				<!--</p>-->
			<!--</div>-->
		<!--</div>-->

		{% if user.is_authenticated and preference_posts %}
		<h4 class="rv-home_header">Suggested posts</h4>
	<!-- temporarily commenting this out until we figure out what to do here  -->
	<!-- 			<div id="chosen-item-list" class="rv-home_header-topics-tags">
					{% for each_sel in already_sel %}
						{% include 'global-partials/already-selected-topic-partial.html' %}
					{% endfor %}
				</div> -->
			<div class="rv-masonry_container">
				<div class="rv-masonry">
					{% for p in preference_posts %}
						{% if p.is_link %}
							{% with l=p.link %}
								{% include 'partials/link_card_partial.html' %}
							{% endwith %}
						{% elif p.is_article %}
							{% with a=p.article %}
								{% include 'partials/article_card_partial.html' %}
							{% endwith %}
						{% elif p.is_infographic %}
							{% with i=p.infographic %}
								{% include 'partials/infographic_card_partial.html' %}
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<h4 class="rv-home_header">All Other Posts</h4>
		{% endif %}

		{% if published_posts %}
		<div class="rv-masonry_container">
			<div class="rv-masonry">
				{% for p in published_posts %}
					{% if p.is_link %}
						{% with l=p.link %}
							{% include 'partials/link_card_partial.html' %}
						{% endwith %}
					{% elif p.is_article %}
						{% with a=p.article %}
							{% include 'partials/article_card_partial.html' %}
						{% endwith %}
					{% elif p.is_infographic %}
						{% with i=p.infographic %}
							{% include 'partials/infographic_card_partial.html' %}
						{% endwith %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>


        <script type="text/javascript">
            function ran_col() { //function name
                var color = '#'; // hexadecimal starting symbol
                var letters = ['000000','FF0000','00FF00','0000FF','FFFF00','00FFFF','FF00FF','C0C0C0']; //Set your colors here
                color += letters[Math.floor(Math.random() * letters.length)];
                document.getElementById('posts').style.background = color; // Setting the random color on your div element.
            }
        </script>
		<script src="{% static 'js/card_partial.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<script src="{% static 'uikit-old/js/components/slideset.min.js' %}"></script>
<script src="{% static 'uikit-old/js/components/accordion.min.js' %}"></script>
<script src="{% static 'uikit-old/js/components/slideshow.min.js' %}"></script>
<script src="{% static 'uikit-old/js/components/slideshow-fx.min.js' %}"></script>
<script src="{% static 'uikit-old/js/components/slider.min.js' %}"></script></body>



{% endblock %}