{% extends "base-titlebar-mobile.html" %}
{% load staticfiles %}

{% block content %}
<div class='uk-container uk-margin-top'>
	<div data-uk-grid-match="{target:'.uk-panel'}" uk-grid>
        <div class="uk-width-1-1">
            <div class="uk-card uk-card-primary uk-card-body">
                <p>Relevate Does not support mobile browsing at this time. Our mobile application is under development, so please be patient! Visit our site using a laptop or desktop.</p>
            </div>
        </div>
		<div class="uk-width-1-1">
			<div class="uk-card uk-card-primary uk-card-body">
				<h3 class="uk-card-title">Welcome to Relevate!</h3>
				<p>Your mobile hub for trustworthy and relevant relationship resources.</p>
				<p>We are a multidisciplinary team of researchers and practitioners who are on a mission to make research-based information about interpersonal relationships accessible to all. As part of this mission, we are creating a website and smart phone app that can be tailored to meet the needs of each user. We believe healthy relationships are worth working for. Do you?</p>
			</div>
		</div>
	</div>


</div>
{% endblock %}