{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load icon_tags %}

{% block content %}
<div class='rv-content-layout'>
	<div class='rv-content-layout_children'>
		<h1 class='rv-new-post_header'>Create A New Post</h1>

		<div class='rv-new-post_grid'>
			<div class='rv-content-card rv-new-post_card'>
				<div class='rv-new-post_card--content'>
					<a
						href="{% url 'contribution:article_create' %}"
						class='rv-new-post_link'
						aria-label='Create a new article'
					></a>
					<div>
						<div class='rv-new-post_icon--container'>
							<div class='rv-new-post_icon'>
								{% icon_file_text size="fill" %}
							</div>
						</div>
						<div class='rv-new-post_text'>
							<h3>Article</h3>
							<div class='rv-new-post_hr'></div>
							<p>For heavily text based posts</p>
						</div>
					</div>
				</div>
			</div>

			<div class='rv-content-card rv-new-post_card'>
				<div class='rv-new-post_card--content'>
					<a
						href="{% url 'contribution:link_create' %}"
						class='rv-new-post_link'
						aria-label='Create a new link'
					></a>
					<div>
						<div class='rv-new-post_icon--container'>
							<div class='rv-new-post_icon'>
								{% icon_link size="fill" %}
							</div>
						</div>
						<div class='rv-new-post_text'>
							<h3>Link</h3>
							<div class='rv-new-post_hr'></div>
							<p>For links to external content</p>
						</div>
					</div>
				</div>
			</div>

			<div class='rv-content-card rv-new-post_card'>
				<div class='rv-new-post_card--content'>
					<a
						href="{% url 'contribution:infographic_create_view' %}"
						class='rv-new-post_link'
						aria-label='Create a new infographic'
					></a>
					<div>
						<div class='rv-new-post_icon--container'>
							<div class='rv-new-post_icon'>
								{% icon_grid size="fill" %}
							</div>
						</div>
						<div class='rv-new-post_text'>
							<h3>Infographic</h3>
							<div class='rv-new-post_hr'></div>
							<p>For content presented as a graphic or image</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}