{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load button_tags %}
{% load icon_tags %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59d698fcf466510012f7fead&product=sticky-share-buttons"></script>
{% endblock %}

{% block content %}
Hello. Please submit a report with a description of the error and a screenshot of the error if possible. Please include
the url in the screenshot if possible.
{% endblock %}