@import "../base/variables";

.rv-box-form_header {
  margin-bottom: 2rem;
}

.rv-box-form_header-with-text {
  margin-bottom: 1rem;
}

.rv-box-form_submit {
  margin-top: 1rem;
  text-align: right;
}

.rv-box-form_links {
  text-align: center;
}