@import "../base/variables";

.rv-home_body {
  margin: 2rem;
}

.rv-home_header {
  color: $rv-color-primary;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.rv-home_header--rule {
  margin-bottom: 2rem;
  border-bottom: 1px solid $rv-color-light-gray;
}

.rv-home_welcome {
  text-align: center;
}