@import "../base/variables";

.rv-login_form-header {
  margin-bottom: 2rem;
  width: 100%;
}

.rv-login_form-submit {
  margin-top: 1rem;
  text-align: right;
}

.rv-login_form-links {
  text-align: center;
}