{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load i18n %}
{% load button_tags %}
{% load text_input_tags %}

{% block content %}
<div class="rv-box-layout">
	<div class="rv-box-layout_box">
		<h2 class="rv-box-form_header">Relevate Login</h2>
		<form method="post" action=".">
			{% csrf_token %}
			{% text_input 
				label="Email"
				placeholder="Enter your email address"
				id=form.username.id_for_label 
				name=form.username.html_name 
				maxlength="30" 
			%}
			{% text_input 
				variant="password"
				placeholder="Enter your password"
				label="Password" 
				id=form.password.id_for_label 
				name=form.password.html_name 
				maxlength="30" 
			%}
			<div class="rv-box-form_submit">
				{% button fluid_width="True" type="submit" %}
					{% trans "Log in" %}
				{% end_button %}
				{# <input class='rv-button fill-button' type="submit" value="{% trans 'Log in' %}" /> #}
				{# <input type="hidden" name="next" value="{{ next }}" /> #}
			</div>
		</form>
	</div>
</div>
<div class="rv-box-form_links">
	<a class="rv-link" href="{% url 'profile:password_reset_form' %}">{% trans "Forgot your password?" %}</a>
</div>
{% endblock %}