{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class='uk-container uk-width-1-1 uk-margin-top'>
	<div class='uk-flex uk-flex-center uk-text-center'>
		<div style="width: 40%; border: 5px solid #2FA6F5; border-radius: 6px; padding: 15px; background:#FFFFFF">
			<form method="post" action=".">
			  {% csrf_token %}
			  {{ form.as_p }}
				<div class="uk-form-row">
					<button type="submit" class="uk-width-1-1 uk-button uk-button-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}