{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load i18n %}
{% load text_input_tags %}

{% block content %}
<div class="rv-box-layout">
	<div class="rv-box-layout_box">
		<div class="rv-box-form_header-with-text">
		<h2>Reset Password</h2>
			<p>
				Enter your email below and we'll send you a link to reset your password.
			</p>
		</div>
		<form method="post" action=".">
		  {% csrf_token %}
		  {% text_input
		  	placeholder="Enter an email for password reset"
		  	form=form.as_p
		  %}
		  <div class="rv-box-form_submit">
				<button class="rv-button fill-button" type="submit">Submit password reset</button>
			</div>
		</form>
	</div>
</div>
<div class="rv-box-form_links">
	<a class="rv-link" href="{% url 'profile:login' %}">{% trans "Go back to login" %}</a>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}