@import "../base/variables";

.rv-home-header {
  padding-bottom: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.rv-home-header_logo {
  text-align: center;
}

.rv-home-header_description {
  text-align: center;
  max-width: 32em;
  background: $rv-color-white;
}

.rv-home-header_description-text {
  font-weight: $rv-font-weight-bold;
  color: $rv-color-primary;
}

.rv-home-header_button {
  margin-top: 1.5em;
  text-align: center;
}
