@import "../base/variables";
@import "../mixins/focus";

.rv-navbar {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background: rgba($rv-color-white, 0.98);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $rv-color-light-gray;
}

.rv-navbar_placeholder {
  height: $rv-navbar-height;
}

.rv-navbar_logo-container {
  margin: 0.5rem 1rem;
}

.rv-navbar_avatar-container {
  line-height: 10px;
  margin: 0px 1rem;
  width: 2rem;
}

.rv-navbar_logo-link {
  display: block;
  height: 2.4rem;
  @include buttonFocus(0.3rem, 0.3rem, 0.3rem, 0.3rem);
}

.rv-navbar_logo {
  display: flex;
  align-items: center;
  width: 2.5rem;
}

.rv-navbar_shadow {
  box-shadow: $rv-box-shadow;
}

.rv-navbar_submenu {
  display: flex;
  align-items: center;
}

.rv-navbar_options-container {
  display: flex;
  flex-shrink: 0;
  margin: 0 1rem;
}

.rv-navbar_option {
  color: $rv-color-primary;
  margin: 0 1rem;
  text-decoration: none;
  border: none;
  background: $rv-color-white;
  font-size: 1rem;
  padding: 0;

  &:active {
    color: darken($rv-color-primary, 10%)
  }

  &:hover {
    text-decoration: underline;
  }

  @include buttonFocus(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

.rv-navbar_avatar {
  width: 2rem;
}

.rv-navbar_option-text-input {
  margin: 0 1rem;
}

.rv-navbar_options--responsive {
  margin-right: 1rem;
}

.rv-navbar_options--toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.rv-navbar_options--responsive-container {
  margin-top: 3rem;
}

.rv-nav_responsive-link {
  display: block;
}

.rv-navbar_avatar-title {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: $rv-font-weight-semibold;
  text-align: center;
  line-height: 1.125;
}

.rv-navbar_subheader {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: $rv-font-weight-semibold;
}

.rv-nav_responsive-link {
  color: $rv-color-primary;
  text-decoration: none;
  font-size: 1.125rem;

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 780px) {
  .rv-navbar_options--responsive {
    display: none;
  }
}

@media only screen and (max-width: 779px) {
  .rv-navbar_options {
    display: none;
  }

  .rv-navbar_options-container {
    display: block;
  }

  .rv-navbar_avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 12rem;
  }

  .rv-navbar_avatar {
    width: 4rem;
  }
}
