{% load component_tags %}

<span class="rv-dropdown-menu_container">
  <button 
    class="rv-dropdown-menu_trigger {{props.trigger.className}}"
    id="{{props.trigger.id}}"
    aria-haspopup="true"
    aria-expanded="false"
    onclick="ddmenuHandleMenuTriggerClick(this)"
  >
    <span class="rv-dropdown-menu_label">
      <span>
        {{props.trigger.label}}
      </span>
      <span 
        class="rv-dropdown-menu_icon"
        aria-hidden="true"
      >
        {% include 'global-partials/arrow-svg-partial.html' %}
      </span>
    <span>
  </button>
  <ul 
    class="rv-dropdown-menu"
    role="menu"
    aria-hidden="true"
    aria-labelledby="{{props.trigger.id}}"
  >
    {% for item in props.items %}
      {% if item.header %}
        <li class="rv-dropdown-menu_header">{{item.header}}</li>
      {% elif item.separator %}
        <li class="rv-dropdown-menu_separator" role="separator"></li>
      {% else %}
        <li>
          <a 
            class="rv-dropdown-menu_item" 
            href="{% url item.href %}"
            role="menuitem"
            onkeydown="ddmenuHandleMenuItemKeyDown(event, this)"
            onblur="ddmenuHandleMenuItemBlur(event, this)" 
            tabindex="-1"
          >
            {{item.label}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</span>

{% component_loader 'dropdown_menu' 'js/components/dropdown-menu.js' %}
