<ion-view view-title="Sign-in / Log-in">
	<ion-content class="page">
<div id="clouds">
  <div class="cloud x1"></div>
  <!-- Time for multiple clouds to dance around -->
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
	<div>
		<div class="loginContent" style="width:100%;">
			<img src = 'img/RelevateLogoXL.png'>
			<div class="card-view">
        <h2 ng-if = 'errorMessage != null' style='color:red;'>{{errorMessage}}</h2>
        		<div class="item item-input myDataEntry card-view">
                 <label class="item item-input card-view" style="width:100%;">
            			<input type="email" name="email" ng-model="email" placeholder="Email">
           			 </label>
       				 </div>
       			 <div class="item item-input myDataEntry card-view">
                <label class="item item-input card-view"  style="width:100%;">
            			<input type="password" name="password" ng-model="password" placeholder="Password">
           			 </label>
        		</div>
        		 <div class = "submit" style="margin: 2%;">
        			<button class="button button-positive" ng-click="Login(email, password)" style="width:100%;">
  					Log In
					</button>
				</div>
        <div class ="register" style="margin: 2%;">
          <button class="button button-positive" ng-click="ToRegister()" style="width:100%;">Register</button>
        </div>
        <div class ="register" style="margin: 2%;">
          <button class="button button-assertive" ng-click="Exit()" style="width:100%;">Exit</button>
        </div>

		</div>
	</div>
</div>
	</ion-content>
</ion-view>