<ion-view view-title="My Data">
  <ion-content class="page">
    <div class ="card">
    <div class="list">

<div class="card">
    <div class ="list">
        <div class="item item-divider">
           Relationship Diagnostics
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Relationship Status
                </div>
                <select style="width:100%;">
                    <option>Single</option>
                    <option>Casually dating</option>
                    <option>Seriously dating</option>
                    <option>Committed</option>
                    <option>Engaged</option>
                    <option>Married</option>
                    <option>Just talking</option>
                </select>
            </label>
        </label>
        </div>
        <div class="item item-divider">
            Life Events
         </div>
        <ion-toggle ng-model="divorceMode" toggle-class="toggle-calm" style="   background-color: #8dcce3;
    color:black;
    height:auto;
    text-align:left;">Divorce?</ion-toggle>
        <ion-toggle ng-model="parentMode" toggle-class="toggle-calm" style="    background-color: #8dcce3;
    color:black;
    height:auto;
    text-align:left;">Having A Child?</ion-toggle>
        <div class="item item-divider">
           Current Relationship Happiness
        </div>
        <div class="item myDataEntry">
            <div class="sliderItemRange">
                <h3 style="sliderItem">Terrible</h3>
                <h3 style="sliderItem">Unhappy</h3>
                <h3 style="sliderItem">Okay</h3>
                <h3 style="sliderItem">Great</h3>
                <h3 style="sliderItem">Amazing</h3>
            </div>
            <div class="item range">
                <i class="icon ion-sad-outline"></i>
                <input type="range" name="volume" min="0" max="4" value="3">
                <i class="icon ion-happy-outline"></i>
            </div>
     </div>

            <div class="item item-input item-select myDataEntry">
            <div class="input-label">
                    # of Addictive Experiences
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
            <div class="item item-input myDataEntry">
                            <div class="input-label">
                    # of Violent Occurences
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div>
            <div class="item item-input myDataEntry">
                            <div class="input-label">
                    # of Breakups
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
     </div>
            <div class="item item-input myDataEntry">
                            <div class="input-label">
                    # of Verbal Emotional Abuse
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
            <div class="item item-input myDataEntry">
                            <div class="input-label">
                    # of Infidelity
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
            <div class="item item-input myDataEntry">
                           <div class="input-label">
                    # of Cyclic Relationships
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item item-input myDataEntry">
                     <div class="input-label">
                    # of Cycles in Current Relationship
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    # of Marriages
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    # of Biological Children
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    # of Step Children
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    Beginning of Current Relationship
                </div>
            <label class="item item-input textEntry">
             <input type="date">
        </div>
</div>
    </div>
</div>
</div>
<div class="card">
<div class="item item-divider">
            Basic Information
         </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    Birthday
                </div>
            <label class="item item-input textEntry">
            <input type="date" style="min:10/05/1915;max:01/01/1915;">
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Education
                </div>
                <select style = "width:100%;">
                    <option>Completed Highschool/GED</option>
                    <option>Some college no longer attending</option>
                    <option>Some college currently attending</option>
                    <option>Graduated with bachelors</option>
                    <option>Graduated with PhD</option>
                    <option>Did not complete highschool</option>
                </select>
            </label>
        </label>
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">fsa
                    Employment Status
                </div>
                <select style = "width:100%;">
                    <option>Full-time</option>
                    <option>Part-time</option>
                    <option>Not employd</option>
                    <option>Student</option>
                </select>
            </label>
        </label>
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    Family Size
                </div>
            <label class="item item-input textEntry">
            <input type="number">
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry" >
                <div class="input-label">
                    Sexual Orientation
                </div>
                <select style = "width:100%;">
                    <option>Female</option>
                    <option>Male</option>
                    <option>Transgender</option>
                    <option>Queer</option>
                </select>
            </label>
        </label>
        </div>
        <div class="item item-input myDataEntry">
            <div class="input-label">
                    Postal/Zip-Code
                </div>
            <label class="item item-input textEntry">
            <input class = "myDataEntry" type="text" style="width:100%;">
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Race
                </div>
                <select style="width:100%;">
                    <option>Asian</option>
                    <option>Black</option>
                    <option>White</option>
                    <option>Native American/Alaskan</option>
                    <option>Other</option>
                </select>
            </label>
        </label>
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Salary
                </div>
                <select style="width:100%;">
                    <option>Below $10,000</option>
                    <option>$10,000 - $30,000</option>
                    <option>$30,000 - $50,000</option>
                    <option>$80,000 - $100,000</option>
                    <option>$100,000+</option>
                </select>
            </label>
      </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Race
                </div>
                <select style="width:100%;">
                    <option>Opposite sex</option>
                    <option>Same sex</option>
                    <option>Both sexes</option>
                    <option>Neither</option>
                </select>
        </div>
        <div class="item myDataEntry">
            <label class="item item-input item-select myDataEntry">
                <div class="input-label">
                    Religion
                </div>
                <select style="width:100%;">
                    <option>Christianity</option>
                    <option>Judaism</option>
                    <option>Islam</option>
                    <option>Buddhism</option>
                    <option>Hinduism</option>
                    <option>Atheism</option>
                    <option>Agnostic</option>
                    <option>None</option>
                    <option>Other</option>
                </select>
        </div>
    </div>
</div>
</div>
    <div class = "submit">
        <button class="button button-positive" ng-click="" style="width:100%;">
  Done!
</button>
</div>
  </ion-content>
</ion-view>
