@import "../../../../static/scss/base/variables";
@import "../../../../static/scss/mixins/focus";

@mixin baseButton() {
  position: relative;
  border-radius: 999rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: $rv-font-weight-semibold;
  padding: 0.2rem 1rem;
  transition: background 200ms linear;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  overflow: visible;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  touch-action: manipulation;
  height: 2.25rem;

  &.fluid-width {
    width: 100%;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include buttonFocus(0.3rem, 0.3rem, 0.3rem, 0.3rem);
}

@mixin buttonColor ($color, $background, $border, $hover, $active) {
  border: 2px solid $border;
  color: $color;
  background: $background;

  &:hover {
    background: $hover;
    transition: background 200ms linear;
  }

  &:active {
    background: $active;
    box-shadow: inset 0 0 0.15rem $rv-color-dark;
  }
}

@mixin buttonVariants ($color) {
  &.solid {
    @include buttonColor($rv-color-white, $color, $color, darken($color, 10%), darken($color, 20%))
  }

  &.ghost {
    @include buttonColor($color, $rv-color-white, $color, lighten($color, 44%), lighten($color, 40%))
  }
}

.rv-button {
  @include baseButton()

  &.primary {
    @include buttonVariants($rv-color-primary)
  }

  &.dark {
    @include buttonVariants($rv-color-neutral)
  }

  [data-icon] {
    margin: 0 0.2rem;
  }
}
