{% load staticfiles %}
{% load compress %}
{% load text_input_tags %}
{% load templatetag_handlebars %}

<script src="{% static 'js/text_input.js' %}"></script>
{% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "scss/text_input.scss" %}" />
{% endcompress %}

{% tplhandlebars "rv_text_input" %}
  {% text_input label={{label}} placeholder={{placeholder}} %}
{% endtplhandlebars %}

<script>
  function RvTextInput(props) {
    var textInputProps = {
      label: props.label,
      placeholder: props.placeholder
    }

    var template = Handlebars.compile(document.getElementById('rv_text_input').innerHTML)
    var markup = template(textInputProps)
    var container = document.createElement('div')
    container.innerHTML = markup
    var input = container.getElementsByTagName('INPUT')[0]

    ammendPropsToElement(omitProps(props, textInputProps), input)
    return container.innerHTML
  }
</script>