{% load icon_tags %}

<span class="rv-text-input">
  {% if alt_form %}
    {{ alt_form }}
  {% else %}
    {% if alt_input %}
      <label class="rv-text-input_label">{{label}}</label>
      {{ alt_input }}
    {% else %}
      <label for="{{id}}" class="rv-text-input_label">{{label}}</label>
      <input id="{{id}}" class="rv-text-input_input" type="{{variant}}" />
    {% endif %}
  {% endif %}

  {% if icon %}
    <span class="rv-text-input_icon">
      {% icon_arrow title=icon %}
    </span>
  {% endif %}
</span>