/**
----------------
  Colors
----------------
**/
/**
----------------
  Typography
----------------
**/
/**
----------------
  Navbar
----------------
**/
/**
----------------
  Shadows
----------------
**/
/**
----------------
  Cards
----------------
**/
/**
----------------
  Breakpoints
----------------
**/
/* line 3, static/scss/avatars.scss */
.rv-avatar {
  color: #246FF2;
  text-decoration: none;
  width: 50px;
  height: 50 px;
  border-radius: 50%; }
  /* line 10, static/scss/avatars.scss */
  .rv-avatar:focus, .rv-avatar:hover {
    text-decoration: underline;
    outline: none; }
  /* line 16, static/scss/avatars.scss */
  .rv-avatar:active {
    color: #0d56d6; }

/* line 21, static/scss/avatars.scss */
.img {
  color: #246FF2;
  text-decoration: none;
  width: 50px;
  height: 50 px;
  border-radius: 50%; }
