/**
----------------
  Font Size
----------------
**/
/**
----------------
  Colors
----------------
**/
/**
----------------
  Typography
----------------
**/
/**
----------------
  Navbar
----------------
**/
/**
----------------
  Shadows
----------------
**/
/**
----------------
  Cards
----------------
**/
/**
----------------
  Breakpoints
----------------
**/
/* line 3, static/scss/links.scss */
.rv-link {
  color: #246FF2;
  text-decoration: none; }
  /* line 7, static/scss/links.scss */
  .rv-link:focus, .rv-link:hover {
    text-decoration: underline;
    outline: none; }
  /* line 13, static/scss/links.scss */
  .rv-link:active {
    color: #0d56d6; }
