{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div id='nav-sticky'>
	<div class="rv-navbar-placeholder"></div>
	<nav id='top-level-nav' class="rv-navbar" uk-navbar="mode: click">
		<div class="uk-navbar-left">
			<div class='uk-navbar-item uk-logo'>
				<a href="{% url 'contribution:home' %}">
					<span class="rv-navbar_logo">
						{% include 'global-partials/relevate-logo-svg-partial.html' %}
					</span>
				</a>
			</div>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<form action="{% url 'contribution:search_results' %}" method="get">
						{% csrf_token %}
						<input class="searchfield" id="searchbox" name="searchbox" type="text" placeholder="Search">
					</form>
				</li>
				{% if user.is_staff %}
				<li>
					<a href="#">Staff</a>
					<div class="uk-navbar-dropdown uk-width-medium">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li class='uk-nav-header'>Approve/Deny</li>
							<li>
								<a href=" {% url 'profile:adviser_approve' %}">
									Approve Adviser Applications
								</a>
							</li>
							<li>
								<a href="{% url 'profile:contributor_approve' %}">
									Approve Contributor Applications
								</a>
							</li>
							<li class='uk-nav-divider'></li>
							<li class='uk-nav-header'>List Denied</li>
							<li>
								<a href="{% url 'profile:denied_adviser_list' %}">
									List Denied Advisers
								</a>
							</li>
							<li>
								<a href="{% url 'profile:denied_contributor_list' %}">
									List Denied Contributors
								</a>
							</li>
						</ul>
					</div>
				</li>
				{% endif %}
				{% if user_prof.is_contributor %}
					<li>
						<a href="#">Mentors</a>
						<div class="uk-navbar-dropdown uk-width-medium">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								{% if user_prof.is_adviser %}
								<li><a href="{% url 'profile:adviser_profile' %}">My Mentor Profile</a></li>
								<li><a href="{% url 'profile:adviser_approve_posts' %}">Approve Mentee Posts</a></li>
								{% else %}
								<li><a href="{% url 'profile:adviser_create' %}">Mentor Application</a></li>
								{% endif %}
							</ul>
						</div>
					</li>
					<li>
						<a href="#">Contributors</a>
						<div class='uk-navbar-dropdown uk-width-medium'>
							<ul class='uk-nav uk-navbar-dropdown-nav'>
								<li><a href="{% url 'profile:contributors' %}">All Contributors</a></li>
								<li><a href="{% url 'profile:contributor_profile' %}">My Contributor Profile</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#">Posts</a>
						<div class='uk-navbar-dropdown uk-width-medium'>
							<ul class='uk-nav uk-navbar-dropdown-nav'>
								<li><a href="{% url 'contribution:new_post' %}">Create A New Post</a></li>
								<li><a href="{% url 'contribution:all_posts' %}">Posts To Date</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#">Resources</a>
						<div class='uk-navbar-dropdown uk-width-medium'>
							<ul class='uk-nav uk-navbar-dropdown-nav'>
								<li><a href="{% url 'contribution:using_relevate' %}">Using Relevate</a></li>
								<li><a href="{% url 'contribution:public_scholarship' %}">Public Scholarship</a></li>
								<li><a href="{% url 'contribution:content_creation' %}">Content Creation</a></li>
							</ul>
						</div>
					</li>
				{% else %}
					<li>
						<a href="#">Contributors</a>
						<div class='uk-navbar-dropdown uk-width-medium'>
							<ul class='uk-nav uk-navbar-dropdown-nav'>
								<li><a href="{% url 'profile:contributors' %}">All Contributors</a></li>
							</ul>
						</div>
					</li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'profile:contributor_create' %}">Contributor Application</a></li>
						{% if not user_prof.confirmed %}
							<li><a href="{% url 'profile:confirmation' %}">Confirm Account</a></li>
						{% endif %}
						<!-- <li><a href="{%url 'profile:password_reset_form' %}">Reset Password</a></li> -->
					{% endif %}
				{% endif %}
			</ul>
			<ul class="uk-navbar-nav">
				<li><a href="{% url 'contribution:about' %}">About</a></li>
				{% if not user.is_authenticated %}
				<li>
					<a href="{% url 'profile:registration' %}">Create Account</a>
				</li>
				<li>
					<a href="{% url 'profile:login' %}">Sign In</a>
				</li>
				{% else %}
				<li><a href="{% url 'profile:logged_out' %}">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>
	<div id="messages">
		{% for message in messages %}
			<div class="uk-alert slam-a-ram-a uk-alert-{% if message.tags %}{{ message.tags }}{% endif %}" data-uk-alert>
				<!-- <a href="#" class="uk-close"></a> -->
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	</div>

	<script>
		$(document).ready(function() {
			setTimeout(function() {
				$('.slam-a-ram-a').fadeOut('slow');
			}, 6000); // <-- time in milliseconds, 1000 =  1 sec
		});
	</script>


	{% block content %}
		{{ block.super }}
	{% endblock %}
{% endblock %}