{% extends "base.html" %}
{% load staticfiles %}
{% load button_tags %}
{% load dropdown_menu_tags %}

{% block body %}

<div id='nav-sticky'>
	<div class="rv-navbar_placeholder"></div>
	<nav id='top-level-nav' class="rv-navbar">
		<div class="rv-navbar_logo-container">
			<a href="{% url 'contribution:home' %}" class="rv-navbar_logo-link">
				<span class="rv-navbar_logo">
					{% include 'global-partials/relevate-logo-svg-partial.html' %}
				</span>
			</a>
		</div>
		<ul class="rv-navbar_options-container">
{# 			
			TODO: With the text input updates the input no longer fits within the navbar.
			We will bring this back, but we need to come up with an alternative that will fit

			<li class="rv-navbar_option-text-input">
				<form action="{% url 'contribution:search_results' %}" method="get">
					{% csrf_token %}
					<input class="rv-text-input" id="searchbox" name="searchbox" type="text" placeholder="Search">
				</form>
			</li>
 #}
			{% if user.is_staff %}
			<li class="rv-navbar_submenu">
				{% dropdown_menu %}
				  {% dm_trigger with
				    id="main_navbar_ddmenu_0"
				    className="rv-navbar_option"
				    withArrow="True"
				  %}
				    <span>Staff</span>
				  {% end_dm_trigger %}

				  {% dm_content %}
				    {% dm_label %}Approve/Deny{% end_dm_label %}
				    {% dm_item with href="profile:adviser_approve" %}Approve Advisors{% end_dm_item %}
				    {% dm_item with href="profile:contributor_approve" %}Approve Contributors{% end_dm_item %}
				    {% dm_separator %}
				    {% dm_label %}List Denied{% end_dm_label %}
				    {% dm_item with href="profile:denied_adviser_list" %}List Denied Advisors{% end_dm_item %}
				    {% dm_item with href="profile:denied_contributor_list" %}List Denied Contributors{% end_dm_item %}
				  {% end_dm_content %}
				{% end_dropdown_menu %}
			</li>
			{% endif %}
			{% if user_prof.is_contributor %}
				{% if user_prof.is_adviser %}
					<li class="rv-navbar_submenu">
						{% dropdown_menu %}
						  {% dm_trigger with
						    id="main_navbar_ddmenu_1"
						    className="rv-navbar_option"
						    withArrow="True"
						  %}
						    <span>Mentors</span>
						  {% end_dm_trigger %}

						  {% dm_content %}
						    {% dm_item with href="profile:adviser_profile" %}My Mentor Profile{% end_dm_item %}
						    {% dm_item with href="profile:adviser_approve_posts" %}Approve Mentee Posts{% end_dm_item %}
						    {% dm_item with href="profile:adviser_create" %}Mentor Application{% end_dm_item %}
						  {% end_dm_content %}
						{% end_dropdown_menu %}
					</li>
				{% else %}
					<li class="rv-navbar_submenu">
						{% dropdown_menu %}
						  {% dm_trigger with
						    id="main_navbar_ddmenu_2"
						    className="rv-navbar_option"
						    withArrow="True"
						  %}
						    <span>Mentors</span>
						  {% end_dm_trigger %}

						  {% dm_content %}
						    {% dm_item with href="profile:adviser_create" %}Mentor Application{% end_dm_item %}
						  {% end_dm_content %}
						{% end_dropdown_menu %}
					</li>
				{% endif %}
				<li class="rv-navbar_submenu">
					{% dropdown_menu %}
					  {% dm_trigger with
					    id="main_navbar_ddmenu_3"
					    className="rv-navbar_option"
					    withArrow="True"
					  %}
					    <span>Contributors</span>
					  {% end_dm_trigger %}

					  {% dm_content %}
					    {% dm_item with href="profile:contributors" %}All Contributors{% end_dm_item %}
					    {% dm_item with href="profile:contributor_profile" %}My Contributor Profile{% end_dm_item %}
					  {% end_dm_content %}
					{% end_dropdown_menu %}
				</li>

				<li class="rv-navbar_submenu">
					{% dropdown_menu %}
					  {% dm_trigger with
					    id="main_navbar_ddmenu_4"
					    className="rv-navbar_option"
					    withArrow="True"
					  %}
					    <span>Posts</span>
					  {% end_dm_trigger %}

					  {% dm_content %}
					    {% dm_item with href="contribution:new_post" %}Create A New Post{% end_dm_item %}
					    {% dm_item with href="contribution:all_posts" %}Posts To Date{% end_dm_item %}
					  {% end_dm_content %}
					{% end_dropdown_menu %}
				</li>

				<li class="rv-navbar_submenu">
					{% dropdown_menu %}
					  {% dm_trigger with
					    id="main_navbar_ddmenu_5"
					    className="rv-navbar_option"
					    withArrow="True"
					  %}
					    <span>Resource Collective</span>
					  {% end_dm_trigger %}

					  {% dm_content %}
					    {% dm_item with href="contribution:using_relevate" %}Using Relevate{% end_dm_item %}
					    {% dm_item with href="contribution:public_scholarship" %}Public Scholarship{% end_dm_item %}
					    {% dm_item with href="contribution:content_creation" %}Content Creation{% end_dm_item %}
					  {% end_dm_content %}
					{% end_dropdown_menu %}
				</li>
			{% else %}
				<li class="rv-navbar_submenu">
					{% dropdown_menu %}
					  {% dm_trigger with
					    id="main_navbar_ddmenu_6"
					    className="rv-navbar_option"
					    withArrow="True"
					  %}
					    <span>Contributors</span>
					  {% end_dm_trigger %}

					  {% dm_content %}
					    {% dm_item with href="profile:contributors" %}All Contributors{% end_dm_item %}
					  {% end_dm_content %}
					{% end_dropdown_menu %}
				</li>

				{% if user.is_authenticated %}
					<li class="rv-navbar_submenu"><a class="rv-navbar_option" href="{% url 'profile:contributor_create' %}">Contributor Application</a></li>
					{% if not user_prof.confirmed %}
						<li class="rv-navbar_submenu"><a class="rv-navbar_option" href="{% url 'profile:confirmation' %}">Confirm Account</a></li>
					{% endif %}
					<!-- <li><a href="{%url 'profile:password_reset_form' %}">Reset Password</a></li> -->
				{% endif %}
			{% endif %}
			<li>
				<!--<a class="rv-navbar_option" href="{% url 'profile:user_update' %}">Update Profile</a>-->
			</li>
			<li class="rv-navbar_submenu">
				<a class="rv-navbar_option" href="{% url 'contribution:about' %}">About</a>
			</li class="rv-navbar_submenu">
			{% if not user.is_authenticated %}
			<li class="rv-navbar_submenu">
				<a class="rv-navbar_option" href="{% url 'profile:login' %}">Sign In</a>
			</li>
			<li class="rv-navbar_submenu">
				{% button variant="ghost" href="profile:registration" %}
					Create Account
				{% end_button %}
			</li>
			{% else %}
			<!--<li><a class="rv-navbar_option" href="{% url 'profile:logged_out' %}">Logout</a></li>-->
			{% endif %}
		</ul>
		<div class="container">
		<div class="rv-navbar_avatar-container" style="display: block; float:right;">
			{% if user.is_authenticated %}
				{% if user.is_contributor %}
					<a href="#">
					<img style="max-width: 50px; max-height: 50px;" class="profile_avatar uk-border-circle" src="{{ contrib_prof.avatar_image_url }}">
					</a>
				{% else %}
				<a href="#">
					<img style="max-width: 50px; max-height: 50px;" class="profile_avatar uk-border-circle" src="{% static 'images/profile-placeholder.png' %}">
					</a>
				{% endif %}
				<div uk-dropdown="mode: click">
					<ul class="uk-nav uk-dropdown-nav">
						<li><a class="rv-navbar_option" href="{% url 'profile:user_update' %}">Update Profile</a></li>
						<br>
						{% if user_prof.is_contributor %}
						<li><a class="rv-navbar_option" href="{% url 'profile:contributor_profile' %}">My Contributor Profile</a></li>
						<br>
						{% else %}
						<li><a class="rv-navbar_option" href="{% url 'profile:contributor_create' %}">Contributor Application</a></li>
						<br>
						{% endif %}
						<li><a class="rv-navbar_option" href="{% url 'profile:logged_out' %}">Logout</a></li>
					</ul>
				</div>
			{% endif %}
		</div>
		</div>
	</nav>
</div>
	<div id="messages">
		{% for message in messages %}
			<div class="uk-alert slam-a-ram-a uk-alert-{% if message.tags %}{{ message.tags }}{% endif %}" data-uk-alert>
				<!-- <a href="#" class="uk-close"></a> -->
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	</div>

	<script>
		$(document).ready(function() {
			setTimeout(function() {
				$('.slam-a-ram-a').fadeOut('slow');
			}, 6000); // <-- time in milliseconds, 1000 =  1 sec
		});
	</script>

	{% block content %}
		{{ block.super }}
	{% endblock %}
{% endblock %}