<!DOCTYPE HTML>
<html lang="en">
{% load staticfiles %}
{% load compress %}
{% load component_assets %}

<head>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'cropper/cropper.min.css' %}" rel="stylesheet">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'css/colors.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}"/> -->
	<link rel="stylesheet" href="{% static 'uikit/css/uikit.css' %}"/>

	<link rel="stylesheet" href="{% static "scss/main.css" %}" />

	<!--{% compress css %}-->
	<!--<link rel="stylesheet" type="text/x-scss" href="{% static "scss/main.scss" %}" />-->
	<!--{% endcompress %}-->

	{% button_assets %}
  {% dropdown_menu_assets %}
  {% link_assets %}
  {% text_input_assets %}

	<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'cropper/cropper.min.js' %}"></script>
	<script src="{% static 'uikit/js/uikit.min.js' %}"></script>
	<script src="{% static 'js/WearProtection.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
	<link rel='icon' type='images/png'
		  href="{% static 'static/images/favicon.png'%}">
	<title>
		{% block tile %}
			MyRelevate
		{% endblock %}
	</title>
	{% block head %}
	{% endblock %}
</head>
<body>
{% block body %}
		{% if messages %}
			{% for message in messages %}
			  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
			{% endfor %}
		{% endif %}

	  {% if form.errors %}
		<div class="alert alert-error">
		  <h4>Please fix the following errors</h4>
		  <ul>
			{% for field in form %}
			  {% if field.errors %}
				{% for error in field.errors %}
				  <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
				{% endfor %}
			  {% endif %}
			{% endfor %}
		  </ul>
		  {% if form.non_field_errors %}
			{{ form.non_field_errors }}
		  {% endif %}
		</div>
	  {% endif %}
	{% block content %}
	{% endblock %}
{% endblock body %}
<!-- @US_TODO: Remove this after the migration -->
<!-- <script src="https://getuikit.com/migrate.min.js"></script> -->
</body>
<div class="up-btn-container" uk-scroll="">
	<div class="uk-padding-small">
		<img src="/static/images/up-arrow.png">
	</div>
</div>
<footer class="footer">
	{% block footer %}
	{% endblock %}
</footer>
</html>